---
import Layout from "../../../layouts/Layout.astro";
import { changeLanguage } from "i18next";
import Header from "../../../components/Header.astro";
import "../../../styles/global.css";
import Footer from "../../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import { getCollection } from "astro:content";
import Loading from "../../../components/Loading.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("pt-PT");

const posts = (await getCollection("blog")).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout
  title={t("news.mainTitle")}
  description={t("news.mainDesc")}
  image="/img/News_embed.png"
/>
<Loading />
<Header isGuide="display:none;" />

<body>
  <div class="hold">
    <img class="newstop" style="" src="/img/newstop.png" />
    <div class="welcome-msg">
      <h2 style="font-size:40px; font-family:Gilroy;">
        <Trans i18nKey="news.title">
          Here is the <span
            class="badge bg-warning"
            style="top:-5px; left:0px; font-size:20px; font-family:Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
          ></span><b style="font-family: Rubik;">WiiLink</b><span
            class="badge bg-warning"
            style="top:-20px; left:-4px; font-size:15px; font-family:inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
            >news</span>
        </Trans>
      </h2>
      <h3 style="font-size: calc(1.3rem + .6vw);">
        <Trans i18nKey="news.subtitle">
          Catch up on all our <b class="color">antics</b>, as well as <b
            class="color">service updates</b
          >!
        </Trans>
      </h3>
    </div>

    <div class="postholder">
      {
        posts.map(post => (
          <div class="posthold">
            <div class="post">
              <a href={`/news/${post.slug}/`}>
                <FormattedDate date={post.data.pubDate} />
                <div class="faded" />
                <img class="heroImage" src={post.data.heroImage} />
                <div class="title">
                    <img class="authimage" src={post.data.authImage} alt="" />
                    <b style="width:80%; margin-right:10px; text-align:right; position:relative;">
                      {post.data.title}
                    </b>
                </div>
                <div class="desc">{post.data.description}</div>
              </a>
            </div>
          </div>
        ))
      }
    </div>

    <h2 class="subtitle">
      <Trans i18nKey="news.otherNews">
        Here's some <b class="color">older</b> articles:
      </Trans>
    </h2>

    <div class="postholdermini">
      <div class="polka-dot"></div>
      {
        posts.map(post => (
          <div class="postmini">
            <a href={`/news/${post.slug}/`}>
              <div class="fade-small" />
              <FormattedDate date={post.data.pubDate} />
              <div class="title-small">{post.data.title}</div>
            </a>
          </div>
        ))
      }
    </div>
    <h3
      style="margin-top:100px; font-size: calc(1.3rem + .6vw); text-align:center; position:relative; width:100%;">
      <Trans i18nKey="news.rssTitle">
        <b
          >Want to get <c class="color">WiiLink news</c> on your site o service?
          Just use our <c class="color">RSS feed</c>!</b>
      </Trans>
    </h3>
    <a href="/rss.xml"
      ><div class="rss">
        <i class="fa-solid fa-square-rss" style="margin-right:5px;"></i>
        {t("news.rssButton")}
      </div></a
    >
    <div class="dots"></div>
  </div>
</body>

<Footer />

<script>
  const scrollableDiv = document.getElementById("square2");

  scrollableDiv.addEventListener("scroll", function () {
    // Check if the user has scrolled to the bottom
    if (
      scrollableDiv.scrollHeight - scrollableDiv.scrollTop <=
      scrollableDiv.clientHeight + 30
    ) {
      // User has scrolled to the end
      scrollableDiv.style.setProperty("height", "calc(100% - 300px)");
    } else {
      scrollableDiv.style.setProperty("height", "calc(100% - 0px)");
    }
  });
</script>

<style>
  .flexhead {
    left: 50%;
    top: 130px;
    width: 90%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    position: absolute;
  }

  .mainimgsmall {
    -webkit-mask-image: url(/img/mask2.svg);
    mask-image: url(/img/mask2.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    height: 180px;
    width: auto;
    transform: translate(0, 10px);
    z-index: 10;
    position: relative;
  }

  h2 {
    font-size: calc(1.3rem + 0.6vw);
  }

  .subtitle {
    left: 80px;
    font-family: Gilroy;
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 50%;
  }

  .welcome-msg {
    top: 15px;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
  }
  .dots {
    top: -30px;
    left: 50%;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(#00000040 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: relative;
  }

  .newstop {
    left: 60px;
    top: 200px;
    transform: translate(0, -50%);
    height: 200px;
    filter: opacity(0.1) invert(0);
    position: absolute;
  }

  .downmargin {
    width: 100%;
    height: 500px;
    position: relative;
  }

  .socials {
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    color: white;
    font-size: 25px;
    width: 150px;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }
  .slogan {
    left: 80px;
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: white;
    width: 500px;
    position: relative;
  }
  .footer-holder {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    width: 98%;
    height: 250px;
    position: absolute;
  }

  html {
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  .symbolholder {
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    position: fixed;
  }
  .backsymbol {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    position: absolute;
  }
  .contentholder {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1000px;
    position: relative;
  }
  .bottomleftcorner {
    animation: changecolor 10s  infinite;
    position: relative;
  }
  .bottomleftcornerholder {
    left: -2.6px;
    bottom: -3px;
    scale: 31.6%;
    transform: translate(-106.5%, 107.3%);
    z-index: 2;
    position: absolute;
  }
  .square {
    --img-invert: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      41deg,
      rgba(0, 138, 255, 1) 0%,
      rgba(255, 0, 59, 1) 100%
    );
    z-index: 0;
    animation: changecolor 10s linear infinite;
    position: absolute;
  }

  .color {
    background: url("/img/header_bg.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }

  .posthold {
    transform: translate(0, 0px);
    filter: drop-shadow(0px 0px 20px #70707056);
    opacity: 0;
    transition: 0.5s;
    position: relative;
  }

  .posthold:nth-child(1) {
    animation: fadeup 200ms 0.3s  forwards;
  }
  .posthold:nth-child(2) {
    animation: fadeup 200ms 0.35s  forwards;
  }
  .posthold:nth-child(3) {
    animation: fadeup 200ms 0.4s  forwards;
  }
  .posthold:nth-child(4) {
    animation: fadeup 200ms 0.45s  forwards;
  }
  .posthold:nth-child(5) {
    animation: fadeup 200ms 0.5s  forwards;
  }
  .posthold:nth-child(6) {
    animation: fadeup 200ms 0.55s  forwards;
  }

  .posthold:hover {
    transform: translate(0, -5px);
    filter: drop-shadow(0px 0px 20px #37373756);
    transition: 0.2s;
  }

  .mainimg {
    width: 100%;
    filter: blur(8px) opacity(0.3);
  }

  .mainpost:hover .mainimg {
    filter: blur(7px) opacity(0.3) brightness(125%);
  }

  .mainpost .fade {
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgba(239, 239, 239, 0) 100%
    );
  }

  .authimage {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
    z-index: 10000000000;
  }

  .mainpost:nth-child(1) {
    opacity: 1;
  }

  .postholder {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: absolute;
    gap: 20px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    padding-bottom: 200px;
    z-index: 10;
  }

  .postholdermini {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: absolute;
    gap: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    position: relative;
    z-index: 10;
  }

  .post {
    -webkit-mask-image: url(/img/mask2.svg);
    mask-image: url(/img/mask2.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    position: relative;
    height: 250px;
    width: 100%;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    border-radius: 15px;
    font-family: Gilroy;
    hyphens: auto;
    overflow: hidden;
    transition: 0.2s;
  }

  .posthold:nth-child(n + 7) {
    display: none;
  }

  .postmini:nth-child(n + 8) {
    display: block;
  }

  .postmini {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 15px;
    font-family: Gilroy;
    hyphens: auto;
    overflow: hidden;
    border: 2px solid rgba(215, 215, 215, 0.066);
    transition: 0.2s;
    display: none;
  }

  .post:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 5px 30px rgb(187, 187, 187);
    transition: 0.2s;
  }

  .postmini:hover {
    transform: translate(0, -5px);
    box-shadow: 0px 0px 40px rgb(209, 209, 209);
    border: 3px solid rgba(161, 159, 159, 0.252);
    transition: 0.2s;
  }

  .heroImage {
    width: 100%;
    height: 100%;
	filter:  blur(0px) grayscale(0) brightness(0.8);
    object-fit: cover;
    transition: 0.2s;
  }

  .post:hover .heroImage {
    filter: blur(4px) grayscale(0.5) brightness(0.5);
    z-index: 0;
    transition: 0.2s;
  }

  .title {
    width: 110%;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: max(20px, 30px);
    bottom: 20px;
    right: 10px;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.2s;
    position: absolute;
  }

  .title-small {
    width: 90%;
    height: auto;
    z-index: 11;
    font-size: max(20px, 30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #181818;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.2s;
    position: absolute;
  }

  .post:hover .title {
    bottom: 60%;
    transform: translate(0, 50%);
    transition: 0.2s;
  }

  .desc {
    position: absolute;
    font-family: inter;
    width: 90%;
    font-size: 20px;
    right: 20px;
    bottom: 0;
    transform: translate(0, 50px);
    opacity: 0;
    text-align: justify;
    transition: 0.2s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post:hover .desc {
    bottom: 48%;
    opacity: 1;
    transform: translate(0, 100%);
    transition: 0.2s;
  }

  .faded {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(60, 60, 60, 0.337) 0%,
      rgba(244, 244, 244, 0) 100%
    );
    position: absolute;
    transition: 0.2s;
  }

  .fade-small {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgb(203, 203, 203) 0%,
      rgba(244, 244, 244, 0) 100%
    );
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: 0;
    transition: 0.2s;
  }

  .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#484848 10%, transparent 11%),
      radial-gradient(#484848 10%, transparent 11%);
    background-size: 30px 30px;
    background-position:
      0 0,
      30px 30px;
    opacity: 0.3;
    rotate: 30deg;
    left: -80px;
    top: -120px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  .topimg {
    filter: invert(1);
    transform: translate(-100px, -100px);
    opacity: 0.03;
    position: absolute;
    width: 100%;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  a {
    z-index: 1;
    color: white;
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  .rss {
    left: 50%;
    transform: translate(-50%, 10px);
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(98, 141, 98);
    border-radius: 4px;
    color: white;
    z-index: 1;
    font-family: Gilroy;
    position: absolute;
    transition: 0.5s;
  }

  .rss:hover {
    transform: translate(-50%, 10px) scale(103%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.12);
    transition: 0.5s;
  }

  @media only screen and (max-width: 1000px) {
    .postholder {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      position: absolute;
      gap: 0px;
      top: 50px;
      left: 0;
      transform: translate(0, 0);
      overflow: hidden;
      position: relative;
      padding-bottom: 200px;
      z-index: 10;
    }

    .post {
      margin-top: 20px;
      margin-bottom: 0;
      height: 200px;
    }

    .postholdermini {
      width: 100%;
      gap: 5px;
      overflow: hidden;
    }

    .postmini {
      position: relative;
      height: 150px;
      width: 100%;
      background-color: rgb(247, 247, 247);
      border-radius: 15px;
      font-family: Gilroy;
      hyphens: auto;
      overflow: hidden;
      border: 2px solid rgba(215, 215, 215, 0.066);
      transition: 0.5s;
      display: none;
    }

    .desc {
      bottom: 0;
    }

    .subtitle {
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 50px;
    }

    .newstop {
      display: none;
    }

    .post:hover {
      transform: translate(0, 0px) scale(105%);
      box-shadow: 0px 5px 20px rgb(187, 187, 187);
      transition: 0.2s;
    }

    .post:hover .heroImage {
      filter: brightness(0.7);
      rotate: 0deg;
      scale: 110%;
      z-index: 0;
      transition: 0.2s;
    }

    .post:hover .title {
      bottom: 60%;
      transform: translate(0, 50%);
      transition: 0.2s;
    }

    .post:hover .desc {
      bottom: 48%;
      opacity: 1;
      transform: translate(0, 100%);
      transition: 0.2s;
    }
  }

  @media only screen and (min-width: 2000px) {
    .hold {
      left: 50%;
      transform: translate(-50%, 150px);
      width: 2000px;
      margin-bottom: 80px;
      position: relative;
    }

    .newstop {
      left: 60px;
      top: 130px;
      transform: translate(0, -50%);
      height: 200px;
      filter: opacity(0.1) invert(0);
      position: absolute;
    }
  }
</style>
