---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Ad from "../../components/Ad.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon/components";

changeLanguage("en");

const posts = (await getCollection("services")).sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Layout
  title="WiiLink - Services"
  description="Check out the services WiiLink has to offer!"
  image="/img/default.webp"
/>
<Header isGuide="display:none;" />

<body>
  <div class="hold">
    <div class="welcome-msg">
      <h2 style="font-size:40px; font-family:Gilroy;">
        <Trans i18nKey="svc-site.title">
          Everything we offer! <span
            class="badge bg-success"
            style="top:-5px; left:0px; font-size:20px; font-family:Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
          ></span><b style="font-family: Rubik;">WiiLink</b><span
            class="badge bg-info"
            style="top:-20px; left:5px; font-size:15px; font-family:inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
            >services</span
          >
        </Trans>
      </h2>
      <h3 style="font-size: calc(1.3rem + .6vw);">
        <Trans i18nKey="svc-site.subtitle">
          Here you'll can see <b class="color">everything we offer</b>! Read up
          and download them for yourself!
        </Trans>
      </h3>
    </div>

    <div class="polka-dot"></div>
    <div
      class="mobileselect"
      style="width:90%; max-width:1500px; left:50%; margin-top:36px; transform:translate(-50%, 0); display:grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap:4px; position:relative;">
      <a href="#wiiconnect24">
        <div class="link bg-1" style="border-radius:16px 4px 4px 16px">
          <Icon name="lucide:globe" style="margin-bottom:5px;" />
          {t("svc-site.wc24-min")}
        </div>
      </a>
      <a href="#japanese">
        <div class="link bg-2">
          <Icon name="lucide:earth" style="margin-bottom:5px;" />
          {t("svc-site.jp-min")}
        </div>
      </a>
      <a href="#european">
        <div class="link bg-3">
          <Icon name="lucide:earth" style="margin-bottom:5px;" />
          {t("svc-site.eu-min")}
        </div>
      </a>
      <a href="#extra">
        <div class="link bg-4" style="border-radius:4px 16px 16px 4px">
          <Icon name="lucide:package-open" style="margin-bottom:5px;" />
          {t("svc-site.extra-min")}
        </div>
      </a>
    </div>

    <Ad />

    <div
      class="line-container bg-1"
      id="wiiconnect24"
      onclick="toggle2('wc24', 'wiiconnect24');">
      <h2 style="padding:0px 17px 0px 17px; margin-bottom:0;">
        <Icon name="lucide:globe" style="margin-bottom:5px;" />
        <Trans i18nKey="svc-site.wc24"
          ><b style="font-family:Gilroy;">WiiConnect24</b> services</Trans
        >
      </h2>
      <div
        class="horizontal-line"
        style="transform:translate(0, 0); opacity:0.5;">
      </div>
      <p
        style="max-width:360px; text-align:right; transform:translate(0, 8px); opacity:0.7;">
        {t("svc-site.wc24-desc")}
      </p>
    </div>
    <div class="postholder" id="wc24">
      {
        posts
          .filter(post => post.data.type === "WiiConnect24")
          .map((post, index) => {
            const color = post.data.color;
            return (
              <div
                class="posthold"
                style={`opacity:0; animation: fadeup 0.1s ${index * 50}ms linear forwards;`}>
                <div class="post post-1" style={`--before-color: #${color};`}>
                  <a href={`/services/${post.slug}/`}>
                    <div style="bottom: 30px; right:30px; display:flex; flex-direction: column; align-items: right; justify-content: right; position:absolute;">
                      <div class="title">
                        <i class={post.data.icon} style="margin-right:8px;" />{" "}
                        {post.data.title}
                      </div>
                      <div class="desc">{post.data.description}</div>
                    </div>
                  </a>
                </div>
              </div>
            );
          })
      }
    </div>

    <div
      class="line-container bg-2"
      id="japanese"
      onclick="toggle2('jp', 'japanese');">
      <h2 style="padding:0px 17px 0px 17px; margin-bottom:0;">
        <Icon name="lucide:earth" style="margin-bottom:5px;" />
        <Trans i18nKey="svc-site.jp"
          ><b style="font-family:Gilroy;">Japanese exclusive</b> services</Trans
        >
      </h2>
      <div
        class="horizontal-line"
        style="transform:translate(0, 0); opacity:0.5;">
      </div>
      <p
        style="max-width:360px; text-align:right; transform:translate(0, 8px); opacity:0.7;">
        {t("svc-site.jp-desc")}
      </p>
    </div>
    <div class="postholder" id="jp">
      {
        posts
          .filter(post => post.data.type === "Japanese")
          .map((post, index) => {
            const color = post.data.color;
            return (
              <div
                class="posthold"
                style={`opacity:0; animation: fadeup 0.1s ${index * 50}ms linear forwards;`}>
                <div class="post post-2" style={`--before-color: #${color};`}>
                  <a href={`/services/${post.slug}/`}>
                    <div style="bottom: 30px; right:30px; display:flex; flex-direction: column; align-items: right; justify-content: right; position:absolute;">
                      <div class="title">
                        <i class={post.data.icon} style="margin-right:8px;" />{" "}
                        {post.data.title}
                      </div>
                      <div class="desc">{post.data.description}</div>
                    </div>
                  </a>
                </div>
              </div>
            );
          })
      }
    </div>

    <div
      class="line-container bg-3"
      id="european"
      onclick="toggle2('eu', 'european');">
      <h2 style="padding:0px 17px 0px 17px; margin-bottom:0;">
        <Icon name="lucide:earth" style="margin-bottom:5px;" />
        <Trans i18nKey="svc-site.eu"
          ><b style="font-family:Gilroy;">European exclusive</b> services</Trans
        >
      </h2>
      <div
        class="horizontal-line"
        style="transform:translate(0, 0); opacity:0.5;">
      </div>
      <p
        style="max-width:360px; text-align:right; transform:translate(0, 8px); opacity:0.7;">
        {t("svc-site.eu-desc")}
      </p>
    </div>
    <div class="postholder" id="eu">
      {
        posts
          .filter(post => post.data.type === "European")
          .map((post, index) => {
            const color = post.data.color;
            return (
              <div
                class="posthold"
                style={`opacity:0; animation: fadeup 0.1s ${index * 50}ms linear forwards;`}>
                <div class="post post-3" style={`--before-color: #${color};`}>
                  <a href={`/services/${post.slug}/`}>
                    <div style="bottom: 30px; right:30px; display:flex; flex-direction: column; align-items: right; justify-content: right; position:absolute;">
                      <div class="title">
                        <i class={post.data.icon} style="margin-right:8px;" />{" "}
                        {post.data.title}
                      </div>
                      <div class="desc">{post.data.description}</div>
                    </div>
                  </a>
                </div>
              </div>
            );
          })
      }
    </div>

    <div
      class="line-container bg-4"
      id="extra"
      onclick="toggle2('ex', 'extra');">
      <h2 style="padding:0px 17px 0px 17px; margin-bottom:0;">
        <Icon name="lucide:package-open" style="margin-bottom:5px;" />
        <Trans i18nKey="svc-site.extra"
          ><b style="font-family:Gilroy;">Extra</b> services</Trans
        >
      </h2>
      <div
        class="horizontal-line"
        style="transform:translate(0, 0); opacity:0.5;">
      </div>
      <p
        style="max-width:360px; text-align:right; transform:translate(0, 8px); opacity:0.7;">
        {t("svc-site.extra-desc")}
      </p>
    </div>
    <div class="postholder" id="ex">
      {
        posts
          .filter(post => post.data.type === "Extra")
          .map((post, index) => {
            const color = post.data.color;
            return (
              <div
                class="posthold"
                style={`opacity:0; animation: fadeup 0.1s ${index * 50}ms linear forwards;`}>
                <div class="post post-4" style={`--before-color: #${color};`}>
                  <a href={`/services/${post.slug}/`}>
                    <div style="bottom: 30px; right:30px; display:flex; flex-direction: column; align-items: right; justify-content: right; position:absolute;">
                      <div class="title">
                        <i class={post.data.icon} style="margin-right:8px;" />{" "}
                        {post.data.title}
                      </div>
                      <div class="desc">{post.data.description}</div>
                    </div>
                  </a>
                </div>
              </div>
            );
          })
      }
    </div>

    <h3
      style="margin-top:100px; font-size: calc(1.3rem + .6vw); text-align:center; position:relative; width:100%;">
      <Trans i18nKey="svc-site.helpTitle">
        <b
          >Did we miss <c class="color">anything</c>? Be sure to <c
            class="color">get in touch</c
          >!</b
        >
      </Trans>
    </h3>
    <div class="btn-wrapper">
      <a href="mailto:support@wiilink.ca"
        ><div class="btn btn-success" style="padding:10px;">
          <Icon name="lucide:mail" style="margin-right:5px; margin-bottom:3px;" />
          {t("guide.helpButton1")}
        </div></a
      >
      <a href="https://discord.gg/wiilink"
        ><div class="btn btn-primary" style="padding:10px;">
          <Icon name="simple-icons:discord" style="margin-right:5px; margin-bottom:3px;" />
          {t("guide.helpButton2")}
        </div></a
      >
    </div>
  </div>
</body>

<Footer />

<script is:inline>
  function toggle2(id, origin) {
    var x = document.getElementById(id);
    var y = document.getElementById(origin);
    if (x.style.display === "none") {
      x.style.display = "grid";
      y.classList.remove("fullRound");
    } else {
      x.style.display = "none";
      y.classList.add("fullRound");
    }
  }
</script>

<style>
  .flexhead {
    left: 50%;
    top: 130px;
    width: 90%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    position: absolute;
  }

  .mainimgsmall {
    -webkit-mask-image: url(/img/mask2.svg);
    mask-image: url(/img/mask2.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
    height: 180px;
    width: auto;
    transform: translate(0, 10px);
    z-index: 10;
    position: relative;
  }

  h2 {
    font-size: calc(1.3rem + 0.6vw);
  }

  .btn-wrapper {
    width: 320px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 10px;
    z-index: 1000;
    position: relative;
  }

  .welcome-msg {
    top: 15px;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
  }

  .newstop {
    left: 50px;
    top: 200px;
    transform: translate(0, -50%);
    height: 200px;
    filter: opacity(0.1) invert(0);
    position: absolute;
  }

  .line-container {
    margin-top: 30px;
    width: 90%;
    max-width: 1500px;
    left: 50%;
    padding: 20px;
    border-radius: 16px 16px 4px 4px;
    transform: translate(-50%, 20px);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;
    position: relative;
    transition: 0.2s;
  }

  .line-container:hover {
    transform: translate(-50%, 20px) scale(1.01);
    border-radius: 16px !important;
    transition: 0.2s;
  }

  .line-container:active {
    transform: translate(-50%, 20px) scale(0.98);
    transition: 0.2s;
  }

  .line-container .horizontal-line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--color);
    opacity: 0.5;
    margin-left: 10px;
    transform: translate(0, -5px);
  }

  .bg-1 {
    opacity: 0.8;
    background-color: #28c5fa;
    background-image: linear-gradient(135deg, #444cf710 25%, transparent 25%),
      linear-gradient(225deg, #444cf710 25%, transparent 25%),
      linear-gradient(45deg, #444cf710 25%, transparent 25%),
      linear-gradient(315deg, #444cf710 25%, #e5e5f700 25%);
    background-position:
      40px 0,
      40px 0,
      0 0,
      0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
  }

  .bg-2 {
    opacity: 0.8;
    background-color: #ff6f6f;
    background-image: radial-gradient(#fa282860 4px, #e5e5f700 4px);
    background-size: 40px 40px;
  }

  .bg-3 {
    opacity: 0.8;
    background-color: #f56fff;
    background: repeating-linear-gradient(
      -45deg,
      #f245f760,
      #f245f760 10px,
      #f667ff60 5px,
      #f667ff60 25px
    );
  }

  .bg-4 {
    opacity: 0.8;
    background-color: #96ff7f60;
    background-image: linear-gradient(135deg, #45f76f20 25%, transparent 25%),
      linear-gradient(225deg, #45f76f20 25%, transparent 25%),
      linear-gradient(45deg, #45f76f20 25%, transparent 25%),
      linear-gradient(315deg, #45f76f20 25%, #e5e5f700 25%);
    background-position:
      80px 0,
      80px 0,
      0 0,
      0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
  }

  .link {
    border-radius: 4px;
    padding: 16px 32px;
    transition: 0.2s;
  }

  .link:hover {
    transform: translate(0, -5px);
    border-radius: 16px !important;
    transition: 0.2s;
  }

  .downmargin {
    width: 100%;
    height: 500px;
    position: relative;
  }
  .subtitle {
    left: 80px;
    font-family: Gilroy;
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 50%;
  }
  .slogan {
    left: 80px;
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    width: 500px;
    position: relative;
  }
  .color {
    background: url("/img/header_bg.webp");
    background: AccentColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }

  .posthold {
    transform: translate(0, 0px);
    filter: drop-shadow(0px 0px 20px var(--shadow-color));
    transition: 0.5s;
    position: relative;
  }

  .posthold:hover {
    transform: translate(0, -5px);
    filter: drop-shadow(0px 0px 20px var(--bg-color-tertiary));
    transition: 0.5s;
  }

  .postholder {
    width: 90%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: absolute;
    background-color: var(--bg-color-secondary);
    gap: 20px;
    top: 25px;
    left: 50%;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 4px 4px 16px 16px;
    transform: translate(-50%, 0);
    position: relative;
    padding-bottom: 130px;
    z-index: 10;
  }

  .post {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 8px;
    font-family: Gilroy;
    display: inline-block;
    hyphens: auto;
    overflow: hidden;
    transition: 0.2s;
  }

  .post:hover {
    transform: translate(0, -5px);
    border-radius: 23px;
    background-color: var(--before-color);
    transition: 0.2s;
  }

  .post:active {
    transform: scale(0.98);
    transition: 0.2s;
  }

  .post:hover:before {
    box-shadow: inset 0 0 0px 3px var(--before-color);
    border-radius: 23px;
    border: solid 0px transparent;
    transition: 0.2s;
  }

  .post:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 0px 3px var(--bg-opaque-1);
    z-index: 1;
    border-radius: 14px;
    border: solid 6px transparent;
    transition: 0.2s;
  }

  .title {
    color: black;
  }

  .desc {
    color: black;
  }

  .heroImage {
    width: 100%;
    height: 100%;
    scale: 120%;
    filter: blur(4px) brightness(0.7) grayscale(0.7);
    opacity: 0;
    object-fit: cover;
    z-index: 10;
    transition: 0.3s;
  }

  .post:hover .heroImage {
    filter: blur(4px) brightness(0.5) grayscale(0);
    scale: 110%;
    opacity: 1;
    z-index: 10;
    transition: 0.3s;
  }

  .title {
    width: auto;
    z-index: 11;
    font-size: max(20px, 30px);
    text-align: right;
    margin-bottom: 15px;
    margin-left: 40px;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.5s;
  }

  .title-small {
    width: 90%;
    height: auto;
    z-index: 11;
    font-size: max(20px, 30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    color: #181818;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.5s;
    position: absolute;
  }

  .desc {
    font-family: inter;
    font-size: 20px;
    text-align: right;
    transition: 0.5s;
    margin-left: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }

  .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#484848 10%, transparent 11%),
      radial-gradient(#484848 10%, transparent 11%);
    background-size: 30px 30px;
    background-position:
      0 0,
      30px 30px;
    opacity: 0.3;
    rotate: 30deg;
    left: 20px;
    top: 50px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  a {
    z-index: 1;
    color: white;
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  @media only screen and (max-width: 1000px) {
    .postholder {
      width: 95%;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      top: 25px;
      padding: 8px;
      overflow: visible;
      position: relative;
      z-index: 10;
    }

    .line-container {
      width: 95%;
    }

    .bg-1 {
      border-radius: 16px 16px 4px 4px !important;
    }

    .bg-4 {
      border-radius: 4px 4px 16px 16px !important;
    }

    .post {
      margin-bottom: 0;
      height: 200px;
    }

    .mobileselect {
      width: 95% !important;
      display: flex !important;
      flex-direction: column;
    }

    .newstop {
      display: none;
    }

    .post:hover {
      transform: scale(102%);
    }
  }

  @media only screen and (min-width: 2000px) {
    .hold {
      left: 50%;
      transform: translate(-50%, 150px);
      width: 2000px;
      margin-bottom: 80px;
      position: relative;
    }
  }
</style>

<style is:global>
  .fullRound {
    border-radius: 16px !important;
    transition: 0.2s;
  }
</style>
