---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Ad from "../../components/Ad.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon/components";

changeLanguage("en");

const posts = (await getCollection("blog")).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout
  title={t("news.mainTitle")}
  description={t("news.mainDesc")}
  image="/img/News_embed.webp"
/>
<Header isGuide="display:none;" />
<div class="hold">
  <img class="newstop" src="/img/newstop.webp" />
  <div class="welcome-msg">
    <h2 style="font-size:40px; font-family:Gilroy;">
      <Trans i18nKey="news.title">
        Here is the <span
          class="badge bg-warning"
          style="top:-5px; left:0px; font-size:20px; font-family:Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
        ></span><b style="font-family: Rubik;">WiiLink</b><span
          class="badge bg-warning"
          style="top:-20px; left:-4px; font-size:15px; font-family:inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
          >news</span
        >
      </Trans>
    </h2>
    <h3 style="font-size: calc(1.3rem + .6vw);">
      <Trans i18nKey="news.subtitle">
        Catch up on all our <b class="color">antics</b>, as well as <b
          class="color">service updates</b
        >!
      </Trans>
    </h3>
  </div>
  <div class="newsHero">
    <a href={`/news/${posts[0].slug}/`} style="text-decoration: none;">
      <img src={posts[0].data.heroImage} class="heroimg" />
      <FormattedDate date={posts[0].data.pubDate} />
      <div class="herodatahold">
        <img
          src={posts[0].data.heroImage}
          style="border-radius:8px; box-shadow:0px 0px 50px #ffffff20;"
          class="mobileimg"
          height="200px"
        />
        <div class="innerdata">
          <h1
            style="font-family: Gilroy; color:white !important; font-size:50px;">
            {posts[0].data.title}
          </h1>
          <h5 style="color:white !important;">
            <img
              src={posts[0].data.authImage}
              style="margin-right:5px; border-radius:8px;"
              height="40px"
            />
            {posts[0].data.author} | {posts[0].data.authTitle}
          </h5>
          <p style="color:white !important;">{posts[0].data.description}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="postholder">
    {
      posts.slice(1, 7).map(post => (
        <div class="post" onclick={'window.location.href="/news/' + post.slug + '/";'} style="cursor:pointer;">
          <a href={`/news/${post.slug}/`} aria-label={post.data.title + ' Link'}>
            <FormattedDate date={post.data.pubDate} />
            <div class="faded" />
            {post.data.heroImage && (
              <img alt={post.data.title} loading="lazy" class="heroImage" src={post.data.heroImage} />
            )}
            <div class="title">
              {post.data.authImage && (
                <img alt="News Author PFP" class="authimage" src={post.data.authImage} alt="" />
              )}
              <b style="color:white !important; width:80%; margin-right:10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align:right; position:relative;">
                {post.data.title}
              </b>
            </div>
            <div class="desc">{post.data.description}</div>
          </a>
        </div>
      ))
    }
  </div>

  <Ad />

  <div class="postholdermini">
    <div class="polka-dot"></div>
    {
      posts.slice(7).map(post => (
        <div class="postmini">
          {post.data.heroImage && (
            <img
              style="scale:105%; opacity:0.2; filter:blur(8px) brightness(0.5); z-index:0; position:absolute;"
              width="100%"
              height="100%"
              src={post.data.heroImage}
              alt=""
            />
          )}
          <a href={`/news/${post.slug}/`}>
            <div class="fade-small" />
            <div class="hide">
              <FormattedDate date={post.data.pubDate} />
            </div>
            <div class="title-small">{post.data.title}</div>
          </a>
        </div>
      ))
    }
  </div>
  <h3
    style="margin-top:200px; font-size: calc(1.3rem + .6vw); text-align:center; position:relative; width:100%;">
    <Trans i18nKey="news.rssTitle">
      <b
        >Want to get <c class="color">WiiLink news</c> on your site o service? Just
        use our <c class="color">RSS feed</c>!</b
      >
    </Trans>
  </h3>
  <a href="/rss.xml"
    ><buton
      class="btn center btn-success"
      style="left:50%; transform:translate(-50%, 0); margin-top:8px; z-index:1000; position:relative;">
      <Icon name="lucide:rss" style="margin-right:5px; margin-bottom:3px;" />
      {t("news.rssButton")}
    </buton></a
  >
  <div class="dots"></div>
</div>

<Footer />

<style>
  .flexhead {
    left: 50%;
    top: 130px;
    width: 90%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    position: absolute;
  }

  div {
    color: white !important;
  }

  .mainimgsmall {
    height: 180px;
    width: auto;
    transform: translate(0, 10px);
    z-index: 10;
    position: relative;
  }

  h2 {
    font-size: calc(1.3rem + 0.6vw);
  }

  .subtitle {
    left: 80px;
    font-family: Gilroy;
    font-size: 50px;
    padding-bottom: 20px;
    position: relative;
    width: 50%;
  }

  .welcome-msg {
    top: 15px;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
  }
  .dots {
    top: -80px;
    left: 50%;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(var(--border-color) 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: relative;
  }

  .newstop {
    left: 60px;
    top: 200px;
    transform: translate(0, -50%);
    height: 200px;
    filter: opacity(0.1) invert(0);
    position: absolute;
  }

  .downmargin {
    width: 100%;
    height: 500px;
    position: relative;
  }

  .innerdata {
    width: 65%;
  }

  .socials {
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    color: white !important;
    font-size: 25px;
    width: 150px;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
  }
  .slogan {
    left: 80px;
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    color: white;
    width: 500px;
    position: relative;
  }
  .footer-holder {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    width: 98%;
    height: 250px;
    position: absolute;
  }

  html {
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  .symbolholder {
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    position: fixed;
  }
  .backsymbol {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    position: absolute;
  }
  .contentholder {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1000px;
    position: relative;
  }
  .bottomleftcorner {
    animation: changecolor 10s infinite;
    position: relative;
  }
  .bottomleftcornerholder {
    left: -2.6px;
    bottom: -3px;
    scale: 31.6%;
    transform: translate(-106.5%, 107.3%);
    z-index: 2;
    position: absolute;
  }
  .square {
    --img-invert: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      41deg,
      rgba(0, 138, 255, 1) 0%,
      rgba(255, 0, 59, 1) 100%
    );
    z-index: 0;
    animation: changecolor 10s linear infinite;
    position: absolute;
  }

  .color {
    background: url("/img/header_bg.webp");
    background: AccentColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }

  .posthold {
    transform: translate(0, 0px);
    opacity: 0;
    transition: 0.5s;
    position: relative;
  }

  .posthold:nth-child(1) {
    animation: fadeup 200ms 0.3s forwards;
  }
  .posthold:nth-child(2) {
    animation: fadeup 200ms 0.35s forwards;
  }
  .posthold:nth-child(3) {
    animation: fadeup 200ms 0.4s forwards;
  }
  .posthold:nth-child(4) {
    animation: fadeup 200ms 0.45s forwards;
  }
  .posthold:nth-child(5) {
    animation: fadeup 200ms 0.5s forwards;
  }
  .posthold:nth-child(6) {
    animation: fadeup 200ms 0.55s forwards;
  }

  .posthold:hover {
    transform: translate(0, -5px);
    filter: drop-shadow(0px 0px 20px #37373756);
    transition: 0.2s;
  }

  .mainimg {
    width: 100%;
    filter: blur(8px) opacity(0.3);
  }

  .mainpost:hover .mainimg {
    filter: blur(7px) opacity(0.3) brightness(125%);
  }

  .mainpost .fade {
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgba(239, 239, 239, 0) 100%
    );
  }

  .authimage {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ffffff50;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
    z-index: 10000000000;
  }

  .mainpost:nth-child(1) {
    opacity: 1;
  }

  .postholder {
    width: 90%;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: absolute;
    gap: 20px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0px);
    position: relative;
    z-index: 10;
  }

  .postholdermini {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 28px;
    background-color: var(--bg-color-secondary);
    border-radius: 16px;
    gap: 20px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0px);
    position: relative;
    z-index: 10;
  }

  .post {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 15px;
    font-family: Gilroy;
    hyphens: auto;
    overflow: hidden;
    transition: 0.2s;
  }

  .post:hover:before {
    box-shadow: inset 0 0 0px 3px var(--bg-opaque-2);
    border-radius: 14px;
    border: solid 0px transparent;
    transition: 0.2s;
  }

  .post:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 0px 3px var(--bg-opaque-1);
    z-index: 1;
    border-radius: 14px;
    border: solid 0px transparent;
    transition: 0.2s;
  }

  .postmini {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: var(--bg-color-secondary);
    border-radius: 16px;
    font-family: Gilroy;
    hyphens: auto;
    overflow: hidden;
    border: 3px solid var(--bg-opaque-1);
    transition: 0.2s;
  }

  .post:hover {
    transform: translate(0, -10px);
    transition: 0.2s;
  }

  .postmini:hover {
    transform: translate(0, -5px);
    border: 3px solid var(--bg-opaque-2);
    transition: 0.2s;
  }

  .heroImage {
    width: 100%;
    height: 100%;
    transform: scale(120%);
    filter: blur(0px) brightness(0.8);
    object-fit: cover;
    transition: 0.2s;
    z-index: 0;
    position: absolute;
  }

  .post:hover .heroImage {
    transform: scale(110%);
    filter: blur(2px) brightness(0.3);
    z-index: 0;
    transition: 0.3s;
  }

  .title {
    width: 100%;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: max(20px, 30px);
    bottom: 20px;
    right: 10px;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.4s;
    position: absolute;
  }

  .post:hover .title {
    bottom: 50%;
    transform: translate(0, 50%);
    transition: 0.4s;
  }

  .title-small {
    width: 90%;
    height: auto;
    z-index: 11;
    font-size: max(20px, 30px);
    top: 50%;
    left: 50%;
    color: var(--color) !important;
    transform: translate(-50%, 0);
    text-align: center;
    color: #181818;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.2s;
    position: absolute;
  }

  .desc {
    position: absolute;
    font-family: inter;
    width: 90%;
    font-size: 20px;
    right: 20px;
    bottom: 0;
    transform: translate(0, 50px);
    opacity: 0;
    text-align: right;
    transition: 0.2s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post:hover .desc {
    bottom: 38%;
    opacity: 1;
    transform: translate(0, 100%);
    transition: 0.3s;
  }

  .newsHero {
    top: 30px;
    width: 90%;
    max-width: 1800px;
    height: auto;
    padding: 70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    animation: fadein 0.2s linear forwards;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
  }

  .newshero:active,
  .post:active {
    transform: scale(0.99);
    transition: 0.2s;
  }

  .newsHero:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 0px 3px var(--bg-opaque-2);
    z-index: 1;
    border-radius: 18px;
    border: solid 0px transparent;
    transition: 0.2s;
  }

  .newsHero:hover:before {
    box-shadow: inset 0 0 0px 3px var(--bg-opaque-1);
    border-radius: 18px;
    border: solid 0px transparent;
    transition: 0.2s;
  }

  .newsHero .heroimg {
    transition: 0.2s;
  }

  .newsHero:hover {
    transform: translate(-50%, -5px);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.03);
    transition: 0.2s;
  }

  .newsHero:hover .heroimg {
    filter: blur(12px) brightness(0.4) grayscale(0.7);
    rotate: 0deg;
    transform: scale(100%);
    z-index: 0;
    transition: 0.2s;
  }

  .heroimg {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    transform: scale(105%);
    filter: blur(6px) brightness(0.3) grayscale(0.7);
    z-index: 0;
    position: absolute;
  }

  .herodatahold {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    z-index: 1;
    position: relative;
  }

  .fade-small {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      var(--bg-color-secondary) 0%,
      rgba(244, 244, 244, 0) 100%
    );
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: 0;
    transition: 0.2s;
  }

  .polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#484848 10%, transparent 11%),
      radial-gradient(#484848 10%, transparent 11%);
    background-size: 30px 30px;
    background-position:
      0 0,
      30px 30px;
    opacity: 0.3;
    rotate: 30deg;
    left: -80px;
    top: -120px;
    background-repeat: repeat;
    animation: rotate 240s linear infinite;
    position: absolute;
    z-index: 0;
  }

  .topimg {
    filter: invert(1);
    transform: translate(-100px, -100px);
    opacity: 0.03;
    position: absolute;
    width: 100%;
  }

  @keyframes rotate {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  a {
    z-index: 1;
    color: white;
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media only screen and (max-width: 1000px) {
    .postholder {
      width: 95%;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      gap: 0px;
      top: 20px;
      position: relative;
      padding-bottom: 60px;
      z-index: 10;
    }

    .post {
      margin-top: 20px;
      margin-bottom: 0;
      border-radius: 8px;
      height: 200px;
    }

    .herodatahold h1 {
      font-size: 45px !important;
    }

    .herodatahold h5 {
      font-size: 20px !important;
    }

    .herodatahold p {
      display: none;
    }

    .post:hover .heroImage {
      filter: blur(8px) brightness(0.3) !important;
      transform: scale(100%);
      rotate: 0deg;
      scale: 110%;
      z-index: 0;
      transition: 0.3s;
    }

    .hide {
      display: none;
    }

    .title-small {
      width: auto;
      height: auto;
      z-index: 11;
      font-size: max(20px, 30px);
      top: 0;
      left: 0;
      transform: translate(0, 0);
      text-align: center;
      text-decoration: none;
      color: #181818;
      line-height: 30px;
      font-family: Gilroy;
      transition: 0.5s;
      position: relative;
    }

    .postholdermini {
      padding: 0px;
      top: 50px;
      border-radius: 0px;
      width: 100%;
      gap: 5px;
      overflow: hidden;
    }

    .postmini {
      position: relative;
      height: 100px;
      align-items: center;
      justify-content: center;
      width: 95%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: var(--bg-color-tertiary) !important;
      font-family: Gilroy;
      hyphens: auto;
      overflow: hidden;
      transition: 0.5s;
      display: none;
    }

    .postmini:hover {
      transform: translate(-50%, 0px);
      box-shadow: 0px 0px 0px rgb(209, 209, 209);
      border: 3px solid var(--border-color);
      transition: 0.5s;
    }

    .postmini:nth-child(n + 5) {
      display: flex;
    }

    .innerdata {
      width: 100%;
    }

    .dateRemove {
      display: none;
    }

    .desc {
      bottom: 0;
    }

    .subtitle {
      width: 100%;
      left: 0;
      text-align: center;
      font-size: 50px;
    }

    .newstop {
      display: none;
    }

    .fade-small {
      display: none;
    }

    .newsHero {
      top: 30px;
      width: 95%;
      max-width: 1800px;
      height: auto;
      padding: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      transition: 0.2s;
    }

    .mobileimg {
      width: 100%;
      max-width: 400px;
      height: auto !important;
      object-fit: cover;
    }

    .heroimg {
      height: 100%;
    }

    .herodatahold {
      display: flex;
    }

    .post:hover {
      transform: translate(0, 0px) scale(102%);
      box-shadow: 0px 0px 0px rgb(187, 187, 187);
      transition: 0.5s;
    }

    .post:hover .heroImage {
      filter: brightness(0.7);
      rotate: 0deg;
      scale: 110%;
      z-index: 0;
      transition: 0.3s;
    }
  }

  @media only screen and (min-width: 2000px) {
    .hold {
      left: 50%;
      transform: translate(-50%, 150px);
      width: 2000px;
      margin-bottom: 80px;
      position: relative;
    }

    .newstop {
      left: 60px;
      top: 130px;
      transform: translate(0, -50%);
      height: 200px;
      filter: opacity(0.1) invert(0);
      position: absolute;
    }
  }
</style>
