---
import { changeLanguage } from "i18next";
import Base from "/components/BaseHead.astro";
import Header from "/components/Header.astro";
import Footer from "/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "/consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");

const posts = (await getCollection("blog")).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<button style="z-index:100;" class="btn dropdownbtn btn-black-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i style="font-size:30px; filter:opacity(0.9); transform:translate(-4px, -5px);" class="fa-solid fa-bars"></i>  <span class="position-absolute top-50 end-50 translate-middle badge bg-danger">
  New!
  <span class="visually-hidden">Important news</span>
  </span>
</button>

	<script is:inline>
		var isDark = 0;
		console.log(isDark);

		function darkToggle() {
			if (isDark === 0) {
				document.documentElement.classList.remove('dark');
				document.getElementById("toggle-dark").innerHTML = "<i style='color:#000000; font-size:50px;' class='fa-solid fa-moon'></i>";
				isDark = 1;
				console.log(isDark);
			} else {
				document.documentElement.classList.add('dark');
				document.getElementById("toggle-dark").innerHTML = "<i style='color:#ffffff; font-size:50px;' class='fa-solid fa-circle'></i>";
				isDark = 0;
				console.log(isDark);
			}
		}

		document.addEventListener("DOMContentLoaded", function(){
    darkToggle();
});
	</script>


<div class="position-sticky offcanvas offcanvas-top offcanvas-size-sm" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-body">
    <div style="top:20px; left:20px; position:absolute;" class="alert alert-primary" role="alert">
      Welcome to the new site, share your thoughts on our  <i style="margin-left:5px;" class="fa-brands fa-discord"></i> Discord!
    </div>
    <div class="news">
      <h1 style="font-family:Gilroy">Read up on the latest <b class="color">news</b> of the service</h1>
      <div class="news-container">
          {
            posts.map((post) => (
              <div class="posthold">
              <div class="post">
                <a href={`/news/${post.slug}/`}>
                <FormattedDate date={post.data.pubDate} />
                <div class="fade"></div>
                <img class="heroImage" src={post.data.heroImage}>
                <div class="title"><img class="authimage" src={post.data.authImage} alt="" /><b style="width:80%; margin-right:10px; text-align:right; position:relative;">{post.data.title}</b></div>
                <div class="desc">{post.data.description}</div>
                </a>
              </div>
              </div>
            ))
          }
      </div>
    </div>
    <div class="elements">
    <div class="main">
      <div class="link"><a style="z-index: 1; postition:relative">Home</a><div style="background-color:cyan;" class="underline"></div></div>
      <div class="link"><a style="z-index: 1; postition:relative">News</a><div style="background-color:rgb(213, 102, 74);" class="underline"></div></div>
      <div class="link"><a style="z-index: 1; postition:relative">Guide</a><div style="background-color:rgb(203, 229, 124);" class="underline"></div></div>
      <div class="link"><a style="z-index: 1; postition:relative">Status</a><div style="background-color:rgb(191, 112, 228);" class="underline"></div></div>
      <div class="link"><a style="z-index: 1; postition:relative">FAQ</a><div style="background-color:rgb(203, 229, 124);" class="underline"></div></div>
      
      <div style="display:flex; gap:10px; align-items:center; justify-content:center;" class="buttons">
        <button id="toggle-dark" class="toggle-dark" onclick="darkToggle()"></button>
        <button class="toggle-dark"><i style="transform:translate(0, -4px); color:#000000; font-size:40px;" class="fa-solid fa-globe"></i></button>
      </div>
    </div>
  </div>
  </div>
</div>

<script>
function visitCount() {
  var visits = Number(localStorage.getItem('visitCount'));
  var current = Boolean(sessionStorage.getItem('session'));

  if (visits == 0) {
    visits++;
    console.log("First time");
    console.log(visits);
  } else {
    console.log("Recurrent");
    console.log(visits);
  }

  localStorage.setItem('visitCount', visits);
  sessionStorage.setItem('session', true);
  return visits;
}

visitCount();

</script>

<style>
  html{
    transition: 0.5s;
  }
  .dropdownbtn{
    top:30px;
    right:35px;
    width:50px;
    height:50px;
    font-size: 30px;
    z-index: 10;
    position: absolute;
  }
  .fade{
		width:100%;
		height:100%;
		background: linear-gradient(0deg, rgb(61, 61, 61) 0%, rgba(239, 239, 239, 0) 100%);
		position: absolute;
		z-index:2;
		bottom:-50px;
		left:0;
		transition: 0.5s;
	}
  button{
    z-index:10;
    position: relative;
  }
  a{
    text-decoration: none;
    color:white;
  }
  .authimage{
		margin-right:10px;
		width:40px;
		height:40px;
		border-radius: 8px;
		border:1px solid #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
		z-index: 10000000000;
	}
	.posthold:nth-child(n+7){
		display:none;
	}
  .desc{
		position: absolute;
		font-family: system-ui;
		width:90%;
		font-size: 20px;
		right:20px;
		bottom:0;
		transform:translate(0,50px);
		opacity: 0;
		text-align: justify;
		transition: 0.5s;
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.post:hover .desc{
		bottom:48%;
		opacity: 1;
		transform: translate(0, 100%);
		transition: 0.5s;
	}
	.title{
		width:100%;
		z-index: 11;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		font-size: 30px;
		bottom:20px;
		right:10px;
		line-height: 30px;
		font-family: Gilroy;
		transition: 0.5s;
		position: absolute;
	}

	.post:hover .title{
		bottom:60%;
		transform: translate(0, 50%);
		transition: 0.5s;
	}

  .heroImage{
		width:100%;
		height:auto;
		background-size: cover;
		transition: 0.3s;
	}

	.fade{
		width:100%;
		height:100%;
		background: linear-gradient(0deg, rgb(61, 61, 61) 0%, rgba(239, 239, 239, 0) 100%);
		position: absolute;
		z-index:2;
		bottom:-50px;
		left:0;
		transition: 0.5s;
	}
  .post{
		-webkit-mask-image: url(/img/mask2.svg);
  mask-image: url(/img/mask2.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  mask-size: 100% 100%;
  mask-position: center;
		position: relative;
    	height:390px;
    	width:700px;
    	border-radius: 15px;
		font-family: Gilroy;
    	hyphens:auto;
    	overflow: hidden;
		opacity:0;
    color:#ffffff;
    	transition: 0.5s;
		animation-name: fadeup;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
		animation-delay:0.22s;
	}
  .posthold{
    scroll-snap-align: start;
		transform: translate(0, 0px);
		transition: 0.5s;
		position: relative;
	}
	.posthold:hover{
		transition: 0.5s;
	}
  .toggle-dark{
    border:0px;
    background-color: #ffffff00;
    z-index:10;
    position: relative;
  }
  .link:hover .underline{
    width:100%;
    transition: 0.5s;
  }
  .underline{
    bottom:0;
    left:0;
    transform: translate(0, -25px);
    width:0%;
    height:15px;
    z-index: -1;
    transition: 0.5s;
    background-color: blue;
    position: relative;

  }
  .news{
    top:50%;
    left:20px;
    transform: translate(0, -50%);
    position: absolute;
  }
  .news-container{
    width:700px;
    height:400px;
    overflow-x: scroll;
    overflow-y: hidden;
    display:flex;
		position: absolute;
		gap: 20px;
		top:0px;
		left:0;
		position: relative;
		z-index: 10;
    scroll-snap-type: both mandatory;
    border-radius: 30px;
  }
  .main{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    gap:0px;
    justify-content: right;
    align-items: right;
    text-align: right;
    font-family: Gilroy;
    font-size: 40px;
  }
  .services{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    font-family: Gilroy;
    font-size: 40px;
  }
  .elements{
    top:50%;
    right:50px;
    transform: translate(0, -50%);
    justify-content: space-evenly;
    display:flex;
    position: absolute;
  }
  .offcanvas{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    transition: 0.5s;
  }
  .logohamburger{
    bottom:50px;
    left:50px;
    width:300px;
    position: absolute;
  }
  .color {
        background: url("/img/header_bg.png");
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   filter:brightness(150%);
    }
  .offcanvas-size-sm {
    --bs-offcanvas-height: 100% !important;
}
</style>