---
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
---

<div class="build">
  <div class="build-holder">
    <h1 class="title">
      <Trans i18nKey="build.title">
        What's up with this <b class="color">build</b>?
      </Trans>
    </h1>
    <div id="inner-data" class="build-square">
      <img
        alt="Loading..."
        style="transform:translate(0, -3px); filter: brightness(0);"
        src="img/loading.gif"
        width="30px"
      />
    </div>
    <div class="dots"></div>
  </div>
</div>

<h1 id="relBy" style="display:none;">{t("build.releasedBy")}</h1>
<h1 id="relBranch" style="display:none;">{t("build.releaseBranch")}</h1>
<h1 id="relDate" style="display:none;">{t("build.releaseDate")}</h1>
<h1 id="relTotal" style="display:none;">{t("build.releaseTotal")}</h1>

<script>
  import { Octokit } from "https://esm.sh/octokit";

  document.addEventListener("DOMContentLoaded", async function () {
    const octokit = new Octokit({
      auth: ""
    });

    const owner = "WiiLink24";
    const repo = "WiiLink24-Patcher";

    try {
      const { data: release } = await octokit.request(
        "GET /repos/{owner}/{repo}/releases/latest",
        {
          owner,
          repo,
          headers: {
            "X-GitHub-Api-Version": "2022-11-28"
          }
        }
      );

      const getData = document.getElementById("inner-data");

      const relBy = document.getElementById("relBy").innerHTML;
      const relBranch = document.getElementById("relBranch").innerHTML;
      const relDate = document.getElementById("relDate").innerHTML;
      const relTotal = document.getElementById("relTotal").innerHTML;

      let dateArray = release.published_at.split("T");
      let timeArray = dateArray[1].slice(0, -1);
      dateArray = dateArray[0];
      let versionNumber = release.tag_name;

      if (getData) {
        getData.innerHTML = `
          <img loading="lazy" alt="WiiLink Box" src='/img/WiiLink_pack.webp' style='filter:drop-shadow(0 0 20px #138aa820);' width=150px' height='150px'>
          <a style='color:black; text-decoration:none;' href='https://github.com/WiiLink24/WiiLink24-Patcher/releases/latest' aria-label='WiiLink Patcher Link'>
            <h2 class='release-name' style='animation:fadeup 0.2s forwards;'>
              <o style='font-family:Rubik; font-weight:600;'>WiiLink</o> Patcher 
              <span style='scale:60%; transform:translate(-30px, -20px);' class='badge rounded-pill bg-secondary'>${versionNumber}</span>
            </h2>
            <h2 style='top:-5px; font-size:20px; filter:opacity(0.7); position:relative;'>
              <i class='fa-solid fa-code-branch'></i> <b>${relBranch}</b>
              <span style='top:-2px; box-shadow:0px 0px 10px #4c97ed60; position:relative;' class='badge pill bg-primary'>${release.target_commitish}</span>
            </h2>
            <h2 style='top:-5px; font-size:20px; filter:opacity(0.7); position:relative;'>
              <i class='fa-solid fa-calendar-days'></i> <b>${relDate}</b> ${dateArray}
              <span style='top:-2px; left:5px; box-shadow:0px 0px 20px #4ced9a60; position:relative;' class='badge pill bg-success'>@ ${timeArray}</span>
            </h2>
          </a>
          <div class="gitbuilddata" style='width:300px; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; gap:10px; position:relative;'>
            <span style="display:flex; flex-direction: row; align-items:center; gap:12px;">
            <img alt="${release.author.login}'s PFP" src='${release.author.avatar_url}' width='60px' height='60px' style='border-radius:8px;'> 
            <h2 style='width:220px;'><p style="font-size:15px; margin:0px;">${relBy}</p>${release.author.login}</h2>
            </span>
            <span style="display:flex; flex-direction: row; align-items:center; gap:6px;">
            <h2 style='font-size:23px;'><span style='transform:translate(0, -2px); font-size:14px; background-color:var(--bg-opaque-2);' class='badge rounded'>${relTotal}${release.reactions.total_count}</span></h2>
            <h2 style='font-size:23px;'><i class='fa-solid fa-star'></i> ${release.reactions.hooray}</h2>
            <h2 style='font-size:23px;'><i class='fa-solid fa-heart'></i> ${release.reactions.heart}</h2>
            <h2 style='font-size:23px;'><i class='fa-solid fa-rocket'></i> ${release.reactions.rocket}</h2>
            <h2 style='font-size:23px;'><i class='fa-solid fa-eye'></i> ${release.reactions.eyes}</h2>
            </span>
            <div class="btn btn-success" style="width:100%; font-size:16px; padding:6px; border-radius:10px; box-shadow:0px 0px 20px #00000020; text-align:center;">
            <a style="color:white; text-decoration:none;" href="https://github.com/WiiLink24/WiiLink24-Patcher/releases/latest" aria-label="Download WiiLink Patcher">
              <i class="fa-brands fa-github"></i> View on GitHub
            </a>
          </div>
          </div>
        `;
      } else {
        console.error("Element with id 'release-info' not found.");
      }
    } catch (error) {
      console.error("Error fetching GitHub release:", error);
    }
  });
</script>

<style>
  .build-holder {
    margin-top:200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1500px;
    position: relative;
  }
  .build-square {
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    max-width: 1500px;
    background-color: var(--bg-color-tertiary);
    box-shadow: 0px 5px 10px #00000020;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 15px;
    min-height: 250px;
    z-index: 1;
    position: relative;
  }
  .dots {
    top: -80px;
    width: 150px;
    height: 150px;
    opacity: 0.5;
    background-image: radial-gradient(var(--border-color) 2px, transparent 2px);
    background-size: 15px 15px;
    z-index: 0;
    position: relative;
  }
  .build {
    background-color: var(--bg-color-secondary);
    position: relative;
  }
  .color {
    background: url("/img/header_bg.webp");
    background: AccentColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }
  .title {
    padding-top:80px;
    right: 50px;
    text-align: right;
    width: 100%;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: Gilroy;
    position: relative;
  }

  @media only screen and (max-width: 1000px) {
    .title {
      left: 20px;
      width: 90%;
      font-size: 40px;
      text-align: left;
    }

    .build-square {
      gap: 30px;
    }
  }
</style>

<style is:global>
  @media only screen and (max-width: 1300px) {
    .gitbuilddata {
      width: 600px !important;
    }
  }
</style>
