---
const today = new Date();
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon/components";

let { display = "", top = "", flex = "", maxwidth = "" } = Astro.props;
---

<div class="copyright" style={top}>
  <div class="holder" style={maxwidth}>
    <div class="footer-holder" style={flex}>
      <div class="column" style="width:20%; min-width:300px; gap:0;">
        <img
          alt="WiiLink Logo"
          loading="lazy"
          class="footer-logo logo"
          src="/img/logo.webp"
          width="150px"
          height="97px"
        />
        <p
          style="margin:0; margin-top:12px; color:#ffffff80; !important; opacity:0.7; margin-right:8px; text-align:left;">
          <Icon name="lucide:globe" style="margin-right:5px; margin-bottom:5px;" />
          {t("footer.siteby")}
          <a href="https://github.com/humanoidear" aria-label="Alex's GitHub"
            ><button
              type="button"
              class="btn1 btn btn-success"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-title={t("site.creator")}
              style="background-color:white; color:black !important; border-radius:2px; border:0px; box-shadow:0px 0px 10px #ffffff20; width:15px; height:15px; padding:10px; margin:0px; overflow:hidden;"
              ><img
                alt="Alex's GitHub PFP"
                loading="lazy"
                src="https://github.com/humanoidear.png"
                style="width:20px; transform:translate(-10px, -13.5px);"
              /></button
            >
            <u>Alex</u></a
          >
        </p>
        <p
          style="margin:0; margin-top:8px; color:#ffffff80; !important; opacity:0.7; margin-right:8px; text-align:left;">
          <Icon name="lucide:mail-open" style="margin-right:5px; margin-bottom:5px;" />
          <a href="mailto:support@wiilink.ca" aria-label="Contact Link"><u>support@wiilink.ca</u></a
          >
        </p>
        <p
          style="margin:0; margin-top:8px; color:#ffffff80; !important; opacity:0.7; margin-right:8px; text-align:left;">
          <a href="https://wfc.wiilink24.com" aria-label="WiiLink WFC Link" style="margin-right:5px;"
            ><Icon name="lucide:wifi" style="margin-bottom:5px;" /> WiiLink WFC</a
          >
        </p>
      </div>
      <div class="tables-holder columns" style={flex}>
        <div class="column">
          <h4><b>{t("footer.pages")}</b></h4>
          <hr
            style="width: 60px; border-top:2px solid white; transform:translate(0, -5px); margin:0px;"
          />
          <a href="/" aria-label="Home Link" class="animated-link">{t("header.home")}</a>
          <a href="/news" aria-label="News Link" class="animated-link">{t("header.news")}</a>
          <a href="/guide" aria-label="Guide Link" class="animated-link">{t("header.guide")}</a>
          <a href="/status" aria-label="Status Link" class="animated-link">{t("header.status")}</a>
          <a href="/services" aria-label="Services Link" class="animated-link">{t("header.services")}</a>
          <a href="/extras" aria-label="Extras Link" class="animated-link">{t("header.extras")}</a>
        </div>
        <div class="column">
          <h4><b>{t("footer.links")}</b></h4>
          <hr
            style="width: 60px; border-top:2px solid white; transform:translate(0, -5px); margin:0px;"
          />
          <a href="https://github.com/WiiLink24" aria-label="GitHub Link" class="animated-link">GitHub</a
          >
          <a
            href="https://github.com/orgs/WiiLink24/repositories" aria-label="GitHub Repository Link"
            class="animated-link">{t("footer.repo")}</a
          >
          <a
            href="https://github.com/orgs/WiiLink24/projects" aria-label="GitHub Projects Link"
            class="animated-link">{t("footer.projects")}</a
          >
          <a
            href="https://github.com/orgs/WiiLink24/teams" aria-label="GitHub Teams Link"
            class="animated-link">{t("footer.teams")}</a
          >
          <a
            href="https://github.com/orgs/WiiLink24/people" aria-label="GitHub People Link"
            class="animated-link">{t("footer.people")}</a
          >
        </div>
        <div class="column">
          <h4><b>{t("footer.socials")}</b></h4>
          <hr
            style="width: 60px; border-top:2px solid white; transform:translate(0, -5px); margin:0px;"
          />
          <a
            href="https://discord.gg/wiilink" aria-label="Discord Link"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-title="discord.gg/wiilink"
            ><Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:discord"
             />Discord</a
          >
          <div class="dropdown">
            <a href="#" aria-label="Language Dropdown" class="dropdown-toggle" data-bs-toggle="dropdown">
              <Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:twitter"
               />Twitter
            </a>
            <ul
              class="dropdown-menu"
              id="dropmenu-footer"
              onmouseover="toggleflex('dropmenu-footer');"
              style="background-color:var(--bg-color-tertiary); flex-direction:row; border-color: var(--border-color)">
              <div style="display:flex; gap:4px; padding:0px 8px;">
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://twitter.com/WiiLink24" aria-label="English Twitter Link"
                    ><img
                    alt="Flag of United States"
                      src="/img/flags/en.webp"
                      width="25"
                    /></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://twitter.com/WiiLink_es" aria-label="Spanish Twitter Link"
                    ><img
                      alt="Flag of Spain"
                      src="/img/flags/es.webp"
                      width="25"
                    /></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://twitter.com/WiiLink_fr" aria-label="French Twitter Link"
                    ><img
                      alt="Flag of France"
                      src="/img/flags/fr.webp"
                      width="25"
                    /></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://twitter.com/WiiLink_ptbr" aria-label="Portuguese Twitter Link"
                    ><img
                      alt="Flag of Brazil"
                      src="/img/flags/pt-BR.webp"
                      width="25"
                    /></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://twitter.com/WiiLink_jp" aria-label="Japanese Twitter Link"
                    ><img
                      alt="Flag of Japan"
                      src="/img/flags/ja.webp"
                      width="25"
                    /></a
                  >
                </li>
              </div>
            </ul>
          </div>
          <div class="dropdown">
            <a href="#" aria-label="Language Dropdown" class="dropdown-toggle" data-bs-toggle="dropdown">
              <Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:bluesky"
               />Bluesky
            </a>
            <ul
              class="dropdown-menu"
              id="dropmenu-footer"
              onmouseover="toggleflex('dropmenu-footer');"
              style="background-color:var(--bg-color-tertiary); flex-direction:row; border-color: var(--border-color)">
              <div style="display:flex; gap:4px; padding:0px 16px;">
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://bsky.app/profile/wiilink.ca" aria-label="English Bluesky Link"
                    ><img
                    alt="Flag of United States"
                      src="/img/flags/en.webp"
                      width="25"
                    /></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    style="text-decoration:none;"
                    href="https://bsky.app/profile/jp.wiilink.ca" aria-label="Japanese Bluesky Link"
                    ><img
                      alt="Flag of Japan"
                      src="/img/flags/ja.webp"
                      width="25"
                    /></a
                  >
                </li>
              </div>
            </ul>
          </div>
          <a
            href="https://github.com/WiiLink24" aria-label="Github Link"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-title="WiiLink24"
            ><Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:github"
             />GitHub</a
          >
          <a
            href="https://www.instagram.com/_wiilink" aria-label="Instagram Link"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-title={t("site.donate")}
            ><Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:instagram"
             />Instagram</a
          >
          <a
            href="https://www.youtube.com/@wiilink" aria-label="YouTube Link"
            data-bs-toggle="tooltip"
            data-bs-placement="left"
            data-bs-title="WiiLink24"
            ><Icon style="margin-right:10px; margin-bottom:5px;" name="simple-icons:youtube"
             />YouTube</a
          >
        </div>
        <div class="column">
          <h4><b>{t("footer.repos")}</b></h4>
          <hr
            style="width: 60px; border-top:2px solid white; transform:translate(0, -5px); margin:0px;"
          />
          <a
            href="https://github.com/WiiLink24/WiiLink24-Patcher" aria-label="WiiLink Patcher Repository Link"
            class="animated-link">WiiLink Patcher</a
          >
          <a
            href="https://github.com/WiiLink24/wfc-server" aria-label="WiiLink WFC Repository Link"
            class="animated-link">WiiLink WFC</a
          >
          <a href="https://github.com/WiiLink24/web" aria-label="WiiLink Website Repository Link" class="animated-link"
            >Website</a
          >
          <a
            href="https://github.com/WiiLink24/food-server" aria-label="WiiLink Food Channel Repository Link"
            class="animated-link">Food Channel</a
          >
          <a
            href="https://github.com/WiiLink24/room-server" aria-label="WiiLink Wii Room Repository Link"
            class="animated-link">Wii Room</a
          >
        </div>
      </div>
    </div>

    <hr class="hr" style={display} />
    <div class="footer-holder" style={display}>
      <h4 class="slogan">
        <Trans i18nKey="site.slogan">
          <b style="font-family:Rubik;">WiiLink</b>
          is an unofficial, non-profit homebrew project. It is not affiliated with
          Nintendo and all trademarks are the property of their respective owners.
          No copyright infringement intended.
          <br />
          <br />
          © 2020-2023
          <b style="font-family:Rubik;">WiiLink</b>
          <b style="font-family:Gilroy;">Team</b>
        </Trans>
      </h4>
    </div>

    <div class="footer-holder legal" style={display}>
      <a href="/tos" aria-label="Terms of Service Link">
        <Icon name="lucide:arrow-right" style="margin-right:5px; margin-bottom:5px;" />{
          t("header.tos")
        }</a
      >
      <a href="/privacy-policy" aria-label="Privacy Policy Link"
        ><Icon name="lucide:arrow-right" style="margin-right:5px; margin-bottom:5px;" />
        {t("header.privacyPolicy")}</a
      >
      <a href="/eula" aria-label="EULA Link"
        ><Icon name="lucide:arrow-right" style="margin-right:5px; margin-bottom:5px;" />
        {t("header.eula-long")}</a
      >
      <a
        href="javascript:googlefc.callbackQueue.push(googlefc.showRevocationMessage)" aria-label="Cookies Message Popup"
        ><Icon name="lucide:arrow-right" style="margin-right:5px; margin-bottom:5px;" /> Privacy and
        cookie settings</a
      >
    </div>
  </div>
</div>
<style>
  h4,
  p,
  a {
    color: white !important;
  }
  .copyright {
    bottom: 0;
    position: relative;
    left: 0;
    width: 100%;
    background: linear-gradient(
      41deg,
      rgba(0, 138, 255, 1) 0%,
      rgba(255, 0, 59, 1) 100%
    );
    background-color: rgb(28, 28, 28);
    top: 150px;
    z-index: 5;
    background-size: cover;
  }

  .columns {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: start;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  a {
    border-radius: 4px;
  }

  .copyright::before {
    content: "";
    display: block;
    height: var(--remove-border, 3px);
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  .dropdown-item:hover {
    background-color: var(--bg-color-secondary) !important;
  }

  .footer-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    gap: 18px;
    position: relative;
  }
  a,
  p {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  a:hover {
    text-decoration: underline;
  }
  .animated-link {
    position: relative;
    display: inline-block;
    transition: 0.5s;
  }

  .animated-link::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .animated-link:hover {
    padding-left: 25px;
    transition: 0.5s;
  }
  .animated-link:hover::before {
    left: 0px;
    opacity: 1;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .hr {
    border-top: 2px solid white;
    margin: 30px 0px;
  }
  .holder {
    width: 98%;
    max-width: 1200px;
    padding: 30px;
    margin: auto;
  }
  .legal {
    margin-top: 30px;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: start;
    transition: 0.5s;
  }
  .legal:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .slogan {
    width: 100%;
  }

  @media (max-width: 1200px) {
    .tables-holder {
      width: 100% !important;
    }
    .legal {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
