---
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import i18next, { t, changeLanguage } from "i18next";
import Agreement from "../components/Agreement.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const { isGuide, isMain } = Astro.props;
---

<Agreement/>

<r lang={i18next.language} class="bannerholder">
	<div id="loadingindicator" style="position:fixed; top:0; left:0; width:100%; height:5px; background-color:#377ce4; z-index:1000; transition:0.5s;"></div>
	<img id="loadingspinner" alt="Loading..." src="/img/loading.gif" style="width:30px; height:30px; top:20px; left:20px; filter:brightness(1000); z-index:1000; position:fixed;">

	<t id="grad" style="top:0; left:0; width:100%; height:100px; opacity:0; transition:0.5s; pointer-events:none; z-index:0; position:absolute;"></t>
	<a href={localizePath("/")} aria-label="Home Link" class="logohold"><img loading="lazy" class="logo" alt="WiiLink Logo" style={isMain} src=" /img/Wii_Link_Logo.webp" width="190px" height="69px"></a>
	  <div id="links" style="display:none;">
		<a class="header-link" href={localizePath("/")} aria-label="Home Link"><i class="fa fa-home" style="margin-right:5px;"></i> {t("header.home")}</a>
		<a class="header-link" onmouseover="toggle('newsheader');" onmouseout="toggle('newsheader');" href={localizePath("/news")} aria-label="News Link"><i class="fa fa-newspaper" style="margin-right:5px;"></i> {t("header.news")}</a>
		<div id="newsheader" class="popover-header" onmouseout="toggle('newsheader');">
			<div class="holder">
			{
				posts.slice(0,3).map(post => (
				  <div class="post" style="padding:8px; border-radius:4px;">
					<a style="display:flex; flex-direction:row; gap:8px;" href={`/news/${post.slug}/`} aria-label={post.data.title + 'News Link'}>
					  <img alt="News Post Image" loading="lazy" style="height:100px; border-radius:4px;" src={post.data.heroImage} />
					  <div>
					  <div class="title">
						<b style="width:80%; margin-right:10px; text-align:right; position:relative;">
						  {post.data.title}
						</b>
					  </div>
					  <div style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden;">{post.data.description}</div>
					</div>
					</a>
				  </div>
				))
			  }
			  <hr style="border-top: 1px solid var(--border-color);"/>
			  <div style="padding-left:8px; font-size:15px; padding-bottom:8px; opacity:0.7;"><i class="fa fa-circle-info"></i> {t("header.news-info")}</div>
			</div>
		</div>
		<a class="header-link" onmouseover="toggle('guideheader');" onmouseout="toggle('guideheader');" href={localizePath("/guide/")} aria-label="Guide Link"><i class="fa fa-book" style="margin-right:5px;"></i> {t("header.guide")}</a>
		<div id="guideheader" class="popover-header" onmouseout="toggle('guideheader');">
			<div class="holder">
			<div class="post" style="padding:8px; border-radius:4px;">
				<a style="display:flex; flex-direction:row; align-items:center; gap:8px;" href='/guide/install' aria-label="Install Guide Link">
					<i class="fa fa-download" style="width:85px !important; height:50px; text-align:center; line-height:50px; border-radius:4px; background-color:var(--bg-color-tertiary);"></i>
				<div>
				  <div class="title">
					<b style="width:80%; margin-right:10px; text-align:right; position:relative;">
						{t("guidePost.installGuide")}
					</b>
				  </div>
				  <div style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden;">{t("guidePost.installGuide-info")}</div>
				</div>
				<i class="fa fa-arrow-right"></i>
				</a>
			  </div>
			  <div class="post" style="padding:8px; border-radius:4px;">
				<a style="display:flex; flex-direction:row; align-items:center; gap:8px;" href='/guide/problemsolving' aria-label="Troubleshooting Guide Link">
					<i class="fa fa-circle-exclamation" style="width:65px !important; height:50px; text-align:center; line-height:50px; border-radius:4px; background-color:var(--bg-color-tertiary);"></i>
				<div>
				  <div class="title">
					<b style="width:80%; margin-right:10px; text-align:right; position:relative;">
						{t("guidePost.problemSolving")}
					</b>
				  </div>
				  <div style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden;">{t("guidePost.problemSolving-info")}</div>
				</div>
				<i class="fa fa-arrow-right"></i>
				</a>
			  </div>
			  <div class="post" style="padding:8px; border-radius:4px;">
				<a style="display:flex; flex-direction:row; align-items:center; gap:8px;" href='/guide/faq' aria-label="FAQ Link">
					<i class="fa fa-circle-question" style="width:80px !important; height:50px; text-align:center; line-height:50px; border-radius:4px; background-color:var(--bg-color-tertiary);"></i>
				<div>
				  <div class="title">
					<b style="width:80%; margin-right:10px; text-align:right; position:relative;">
						{t("guidePost.faq")}
					</b>
				  </div>
				  <div style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;   overflow: hidden;">{t("guidePost.faq-info")}</div>
				</div>
				<i class="fa fa-arrow-right"></i>
				</a>
			  </div>
			  <hr style="border-top: 1px solid var(--border-color);"/>
			  <div style="padding-left:8px; font-size:15px; padding-bottom:8px; opacity:0.7;"><i class="fa fa-circle-info"></i> {t("header.guide-info")}</div>
			</div>
		</div>
		<a class="header-link" href={localizePath("/status")} aria-label="Status Link"><i class="fa fa-server" style="margin-right:5px;"></i> {t("header.status")}</a>
		<a class="header-link" href={localizePath("/services")} aria-label="Services Link"><i class="fa fa-box" style="margin-right:5px;"></i> {t("header.services")}</a>
		<div class="dropdown">
			<button class="btn" onclick="toggleTranslate()" id="titleTranslate" style="font-size:30px; padding:0px 10px; transform:translate(5px, 0);" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-original-title="<i class='fas fa-globe'></i>" aria-expanded="false" aria-label="Language Picker">
			</button>
			<div class="dropdown-menu" id="dropMenu" style="background-color: var(--bg-color-light); border:1px solid var(--border-color); transform:translate(50px, -10px); border-radius:12px; overflow:hidden;">
				<div style="width:100%; top:0; position:fixed; border-bottom:1px solid var(--border-color); background-color: var(--bg-color-tertiary); z-index:10000;"><h6 class="dropdown-header" id="currentlang"><i class="fa fa-globe"></i> {t("header.chooseLang")}</h6></div>
				<ul class="optDisplay" id="optionsDisplay" style="top:30px; height:255px; width:200px; overflow-y:scroll; position:relative;"></ul>
			</div>
		  </div>
		<button id="moreHeader" onclick="toggle('dropdownMore');" class="btn" aria-label="More button"><i
			class="fa-solid fa-chevron-down"
			style="font-size:20px; pointer-events:none;"></i>
			<span class="position-absolute top-10 start-95 translate-middle p-1 bg-danger rounded-circle" style="pointer-events: none;"></span>
			</button>
		<div id="dropdownMore">
		<a class="dropdown-item" href={localizePath("/extras")} aria-label="Extras Link"><i class="fa-solid fa-box-open"></i> {t("header.extras")}</a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://wfc.wiilink24.com" aria-label="WiiLink WFC Link"><div><i class="fa-solid fa-wifi"></i> WiiLink WFC</div> <span class="p-1 bg-danger rounded" style="width:30px; height:30px; text-align:center; color:white; display:flex; align-items:center; justify-content:center;"><i class="fa-solid fa-fire"></i></span></a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://miicontest.wiilink.ca" aria-label="CMOC Viewing Tool Link"><div><i class="fa-solid fa-users"></i> Check Mii Out Channel</div></a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://evc.wiilink.ca" aria-label="EVC Viewing Tool Link"><div><i class="fa-solid fa-chart-simple"></i> Everybody Votes Channel</div><span class="p-1 bg-info rounded" style="width:30px; height:30px; text-align:center; color:white; display:flex; align-items:center; justify-content:center;"><i class="fa-solid fa-star"></i></span></a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://tag.rc24.xyz/" aria-label="LinkTag"><div><i class="fa-solid fa-tag"></i> LinkTag</div></a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://card.wiilink24.com/" aria-label="LinkTag"><div><i class="fa-solid fa-address-card"></i> Digicard</div></a>
			<a class="dropdown-item" style="display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://stamp.wiilink.ca/" aria-label="LinkTag"><div><i class="fa-solid fa-stamp"></i> Mii Stamp Generator</div></a>
			<hr style="width:106%; transform:translate(-9px, 0); opacity:0.9; margin:8px 0px; border-top:1px solid var(--bg-opaque-1);">
			<div style="display:flex; flex-direction:row; align-items: center; justify-content:space-between; gap:3px;">
				<a href="https://bookmark.rc24.xyz" style="padding:8px; width:100%; border-radius:8px 4px 4px 8px; background-color:var(--bg-color-secondary); text-align:center;" aria-label="Wii Bookmarks" title="Wii Bookmarks"><i class="fa-solid fa-bookmark"></i></a>
				<a href="http://disc.rc24.xyz/" style="padding:8px; width:100%; border-radius:4px; background-color:var(--bg-color-secondary); text-align:center;" aria-label="Get the date your GameCube, Wii, or Wii U disc was manufactured." title="Get the date your GameCube, Wii, or Wii U disc was manufactured."><i class="fa-solid fa-compact-disc"></i></a>
				<a href="http://interviews.rc24.xyz/" style="padding:8px; width:100%; border-radius:4px; background-color:var(--bg-color-secondary); text-align:center;" aria-label="Nintendo dev interviews" title="Nintendo dev interviews"><i class="fa-solid fa-comments"></i></a>
				<a href="http://wiiremote.rc24.xyz/" style="padding:8px; width:100%; border-radius:4px 8px 8px 4px; background-color:var(--bg-color-secondary); text-align:center;" aria-label="Get the date your Wii Remote was manufactured." title="Get the date your Wii Remote was manufactured."><i class="fa-solid fa-gamepad"></i></a>
			</div>
			<a style="padding:8px; margin-top:6px; border-radius:8px; background-color:#3aa01d; border: 1px solid #3aa01d60; display:flex; align-items:center; justify-content:space-between; gap:8px;" href="https://forum.wiilink.ca/" aria-label="LinkTag"><div style="width:100%; display:flex; flex-direction:row; align-items:center; justify-content:center; gap:6px; color:white!important; position:relative;"><img src="/img/favicon.webp" style="filter:brightness(10000);" height="20px"> WiiLink Forum</div></a>
				<hr style="width:106%; transform:translate(-9px, 0); opacity:0.9; margin:8px 0px; border-top:1px solid var(--bg-opaque-1);">
			<a
				  class="dropdown-item"
				  href="/privacy-policy"
				  aria-label="Privacy Policy Link"
				  ><i class="fa-solid fa-shield"></i> {t("header.privacyPolicy")}</a
				>
				<a class="dropdown-item" href="/tos" aria-label="Terms of Service Link"
				  ><i class="fa-solid fa-feather"></i> {t("header.tos")}</a
				>
				<a class="dropdown-item" href="/eula" aria-label="EULA Link"
				  ><i class="fa-solid fa-book"></i> {t("header.eula")}</a
				>
				<hr style="width:106%; transform:translate(-9px, 0); opacity:0.9; margin:8px 0px; border-top:1px solid var(--bg-opaque-1);">
				<div style="margin:6px; margin-top:13px; display:grid; grid-template-columns:1fr 1fr 1fr; grid-template-rows: 1fr; gap:8px;">
				<button id="themeColor" type="button" class="btn btn-light dropdown-element" aria-label="Theme Button" onclick="darkToggle()"><i class="fa-solid fa-moon" style="pointer-events:none;"></i></button>
				<a href={localizePath("/")} aria-label="Home Link"><button type="button" class="btn btn-success dropdown-element" aria-label="Download Button"><i class="fa-solid fa-download" style="color:white !important"></i></button></a>
				<a href="https://www.discord.gg/wiilink" aria-label="Discord Link"><button type="button" class="btn btn-primary dropdown-element" aria-label="Discord Button"><i class="fa-brands fa-discord" style="color:white !important"></i></button></a>
			</div>
		</div>
			<LanguageSelector showFlag={true} id="my-select-id" class="my-select-class" />
	</div>
</r>

<script is:inline>

const themeColorButton = document.getElementById('themeColor');

let loadingindicator = document.getElementById("loadingindicator");
    loadingindicator.style.width = "0%";
    loadingspinner = document.getElementById("loadingspinner");

      loadingindicator.style.display = "block";
	  loadingspinner.style.display = "block";

    let increaseWidth = setInterval(() => {
      let currentWidth = parseInt(loadingindicator.style.width);
      if (currentWidth < 80) {
        loadingindicator.style.width = currentWidth + 1 + "%";
      }
    }, 100);

    window.addEventListener("load", () => {
      clearInterval(increaseWidth);
      loadingindicator.style.width = "100%";
      setTimeout(() => {
        loadingindicator.style.opacity = "0";
        loadingspinner.style.display = "none";
      }, 500);
    });

	document.getElementById("links").style.display = "flex";
localStorage.setItem('languageOverride', 'yes');

const dropdown = document.getElementById("my-select-id");
let editLink = "/" + dropdown.options[0].value.split('/').slice(0, 2).join('/');

if (editLink === "/") {
    editLink = "";
}

if (localStorage.getItem('languageOverride') !== 'yes') {
    const langMap = {
        "en": "/en-GB",
        "es": "/es",
        "fr": "/fr",
        "de": "/fr",
        "pt": "/pt-PT",
        "jp": "/jp"
    };

    const language = navigator.language.substring(0, 5);
    if (language === "en-GB" || langMap[navigator.language.substring(0, 2)]) {
        localStorage.setItem('languageOverride', 'yes');
        location.href = langMap[language] + editLink;
    }
}

const optionsDisplayDiv = document.getElementById("optionsDisplay");
const currentLangDiv = document.getElementById("currentlang");
const titleTranslate = document.getElementById("titleTranslate");

optionsDisplayDiv.innerHTML = "";

const flagMap = {
    '': ["usa", "English (US)"],
    'en-gb': ["uk", "English (UK)"],
    'pt-br': ["brazil", "Português (BR)"],
    'pt-pt': ["portugal", "Português (PT)"],
    'vi': ["vi", "Tiếng Việt"],
    'ja': ["japan", "日本語"],
    'fr': ["france", "Français"],
    'es': ["spain", "Español"],
    'de': ["german", "Deutsch"],
    'ru': ["russia", "Русский"],
    'it': ["italy", "Italiano"],
    'fi': ["finland", "Suomi"],
    'hu': ["hu", "Magyar"],
    'tr': ["tr", "Türkçe"],
    'ko-kr': ["kr", "한국어"],
    'es-lat': ["mexico", "Español (LATAM)"],
    'ca': ["cat", "Català (CA)"],
    'frp': ["arp", "Arpetan"],
    'va': ["va", "Català (VA)"]
};

for (let i = 0; i < dropdown.options.length; i++) {
    const option = dropdown.options[i];
    const optionName = option.value;
    const langCode = optionName.match(/^\/?([^\/]*)/)?.[1]?.toLowerCase() || '';
    const [flag, lang] = flagMap[langCode] || ["usa", "English (US)"];

    const optionLinkFlag = `<img alt='Emoji ${lang}' src='/img/flags/${flag}.webp' class='emoji'>`;
    const optionLink = `<img alt='Text ${lang}' src='/img/flags/${flag}.webp' class='emoji2'> ${lang}`;

    if (i === 0) {
        titleTranslate.innerHTML = optionLinkFlag;
        currentLangDiv.innerHTML += `<div style='margin-top:8px; opacity:0.6;'><i class='fa fa-arrow-right' style='margin-right:5px;'></i> ${optionLink}</div>`;
        document.getElementById('titleTranslate').setAttribute('data-bs-original-title', optionLink.replace(/<img[^>]*>/g, ""));
    } else {
        optionsDisplayDiv.innerHTML += `<li><a href='${optionName}' aria-label='${optionName} Link' onclick='override()' style='text-decoration:none; color:black;'><button class='dropdown-item' type='button' aria-label='Language Button'><div class='dropdown-text' style='transition:0.2s;'>${optionLink}</div></button></a></li>`;
    }
}

document.addEventListener('click', function(event) {
    const dropdownButton = document.getElementById('titleTranslate');
    const dropdownMenu = document.getElementById('dropMenu');
    const dropdownMore = document.getElementById('dropdownMore');
    const moreHeader = document.getElementById('moreHeader');

    if (!dropdownMore.contains(event.target) && event.target !== moreHeader) {
        dropdownMore.style.display = 'none';
    }

    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target) && open) {
        closeDropdown();
    }
});

let open = 0;

function toggleTranslate() {
    if (open) {
        closeDropdown();
    } else {
        openDropdown();
    }
}

function openDropdown() {
    const dropdownMenu = document.getElementById('dropMenu');
    dropdownMenu.style.opacity = "1";
    dropdownMenu.style.pointerEvents = "";
    dropdownMenu.style.animation = "langon 0.2s ease-in-out forwards";
    open = 1;
}

function closeDropdown() {
    const dropdownMenu = document.getElementById('dropMenu');
    dropdownMenu.style.animation = "langoff 0.2s ease-in-out forwards";
    setTimeout(() => {
        dropdownMenu.style.opacity = "0";
        dropdownMenu.style.pointerEvents = "none";
        dropdownMenu.style.animation = "";
        open = 0;
    }, 200);
}

function enableDarkMode() {
        document.documentElement.classList.add('dark');
        localStorage.setItem('color-mode', 'dark');
        themeColorButton.innerHTML = `<svg style="pointer-events:none; transform:translate(0, -2px);" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>`;
        themeColorButton.style.filter = "invert(0)";
    }

    function enableLightMode() {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('color-mode', 'light');
        themeColorButton.innerHTML = `<svg style="pointer-events:none; transform:translate(0, -2px);" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>`;
        themeColorButton.style.filter = "invert(1)";
    }


function darkToggle() {
	if (document.documentElement.classList.contains('dark')) {
		enableLightMode();
	} else {
		enableDarkMode();
	}
}

document.addEventListener('DOMContentLoaded', function() {

    if (!localStorage.getItem('color-mode')) {
        localStorage.setItem('color-mode', 'dark');
    }

    const savedMode = localStorage.getItem('color-mode');
    if (savedMode === 'dark') {
        enableDarkMode();
    } else {
        enableLightMode();
    }

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
        if (event.matches) {
            enableDarkMode();
        } else {
            enableLightMode();
        }
    });

    document.getElementById('darkToggle').addEventListener('click', () => {
        if (document.documentElement.classList.contains('dark')) {
            enableLightMode();
        } else {
            enableDarkMode();
        }
    });
});

function toggle(id) {
    const element = document.getElementById(id);
    element.style.display = element.style.display === 'block' && !element.matches(':hover') ? 'none' : 'block';
}

// Initialize dropdown menu state
const dropdownMenu = document.getElementById('dropMenu');
dropdownMenu.style.opacity = '0';
dropdownMenu.style.pointerEvents = 'none';


var gradient = document.getElementById("grad");
document.addEventListener('scroll', checkPageScroll);

function checkPageScroll() {
  var scrollPosition = window.scrollY || window.pageYOffset;

  if (scrollPosition > 0) {
    gradient.style.opacity = 1;
  } else {
	gradient.style.opacity = 0;
  }
}
</script>
  
<style is:global>
	.emoji:nth-child(1) {
		width:33px;
		transform:translate(0, -3px);
	}
	.emoji2 {
		width:20px;
		margin-right:5px;
		transform:translate(0, -3px);
	}	
	.dropdown-item {
		white-space:wrap !important;
	}
</style>
<style>
	.my-select-class{
		top:0;
		left:0;
		width:45px;
		height:42px;
		font-size:30px;
		border:0px;
		display:none;
		background-color:#ffffff00;
		position:relative;
	}
	.badge{
		top:20px; 
		left:230px; 
		font-size:15px; 
		font-family:systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
		position:absolute;
	}
	a {
		font-size:17px;
	}

	#grad{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,32,32,0.5) 100%);
	}

	#newsheader {
		width:500px;
		transform:translate(-153px, 0);
	}

	#guideheader {
		width:400px;
		transform:translate(-60px, 0);
	}

	.popover-header {
		display: none;
		position: absolute;
		top: 100%;
		animation: opin 0.2s ease-in-out forwards;
		z-index: 1;
	}

	.holder {
		margin-top:18px;
		padding:8px;
		border-radius:12px;
		background-color:var(--bg-color-light);
		border: 1px solid var(--border-color);
	}

	.holder::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid var(--border-color);
  top: -2px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
}

.holder::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 18px solid var(--bg-color-light);
  top: 1px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
}

	.post:hover {
		background-color: var(--bg-color-secondary);
		transition: 0.2s;
	}

	.post:active {
		transform:scale(0.98);
		transition: 0.2s;
	}

	#dropdownMore {
		right:0;
		top:100%;
		width: 300px;
		display:flex;
		flex-direction: column;
		gap:5px;
		padding:8px;
		background-color: var(--bg-color-light);
		border: 1px solid var(--border-color);
		border-radius:12px;
		z-index: 1;
		display: none;
		position: absolute;
	}

	.dropdown-element {
		width:100%;
		position:relative;
	}

	.dropdown-item {
		padding:8px;
		border-radius:4px;
	}

	.header-link {
	height:50px;
	font-size:18px;
	margin-left:8px;
	display:flex;
	justify-content:center;
	align-items:center;
      transition: 0.3s;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
    }

    .header-link:hover {
      transform: scale(1.02);
      background-color: var(--bg-opaque-1);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 8px;
      transition: 0.3s;
    }

    .header-link:active {
      transform: scale(0.97);
      background-color: #ffffff40;
      transition: 0.1s;
    }

    .header-link::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 4px;
	  opacity:0.3;
      background: var(--color);
      transition: 0.2s;
    }

    .header-link:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: var(--color);
      transition: 0.2s;
    }

  .optDisplay::-webkit-scrollbar{
		display:none;
	}

	ul {
		list-style-type: none;
		padding:0px;
		margin:0px;
	}

a:link{
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: white;
}

.bannerholder{
    top:0;
    left:0;
	width:100%;
	height:128px;
	display:block;
	background-color: rgba(255, 255, 255, 0);
    z-index: 80;
    position: sticky;
}

.logo{
	top:50%;
	left:50px;
	transform: translate(0,-50%);
	filter: invert(1);
	position: absolute;
}

@keyframes opin{
	0%{
		opacity:0;
		top:110%;
	}
	100%{
		opacity:1;
		top:100%;
	}
}

@keyframes opout{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

@keyframes langon{
	0%{
		opacity:0;
		height:0px;
		transform: translate(50px, -15px);
	}
	100%{
		opacity:1;
		height:320px;
		transform: translate(50px, -12px);
	}
}

@keyframes langoff{
	0%{
		opacity:1;
		height:320px;
		transform: translate(50px, -12px);
	}
	100%{
		opacity:0;
		height:0px;
		transform: translate(50px, -15px);
	}
}

#links, #dropMenu{
	display: flex;
	gap:10px;
	width:auto;
	right:50px;
	top:60px;
	transform: translate(0, -50%);
	align-items:center;
	justify-content:center;
	font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgba(255, 255, 255, 0.53);
	position: absolute;
}

@media (max-width:1400px){
		.btn2{
			opacity:1;
		}
	}

@media (max-width:1000px){
	.container{
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform: translate(0, 0);
		border: 0px;
		border-radius: 0px;
		animation: none;
		position: fixed;
	}

	.osimg{
		left:90%;
		transform: translate(-50%, 0);
		position: relative;
	}
	
	.bannerholder{
		height:98px;
		opacity:0;
		pointer-events: none;
	}

	.lang{
		display: none;
	}

	span{
		display:none;
	}

	.btn1{
		display:none;
	}
}


@media (min-width:2000px) {
		.bannerholder{
			width:2000px;
			left:50%;
			top:0px;
			transform: translate(-50%, 0);
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			position: fixed;
	}
</style>
