---
import HeaderLink from './HeaderLink.astro';
import HeaderSmall from "../components/HeaderSmall.astro";
import { SITE_TITLE } from '../consts';
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import i18next from "i18next";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Agreement from "../components/Agreement.astro";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import HeaderMain from './HeaderMain.astro';
import { LanguageSelector } from "astro-i18next/components";

const { isGuide, isMain } = Astro.props;
---

<Layout/>
<Agreement/>

<r lang={i18next.language} class="bannerholder">
	<t id="grad" style="top:0; left:0; width:100%; height:100px; opacity:0; transition:0.5s; pointer-events:none; z-index:0; position:absolute;"></t>
	<a href={localizePath("/")} class="logohold"><img class="logo" style={isMain} src=" /img/Wii_Link_Logo.png" width="190px"><span style={isGuide} class="badge bg-success">{t("header.isGuide")}</span></a>
	<button style={isGuide} class="btn2 btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
		<i class="fa-solid fa-angle-right"></i>
	  </button>
	  <ul>
		<a class="link" href={localizePath("/")}><div class="banner">{t("header.home")}<div class="underline"></div></div></a>
		<a class="link" href={localizePath("/news")}><div class="banner">{t("header.news")}<div class="underline" style="background-color:#ffc10740;"></div></div></a>
		<a class="link" href={localizePath("/guide/")}><div class="banner">{t("header.guide")}<div class="underline" style="background-color:#19875440;"></div></div></a>
		<a class="link" href={localizePath("/status")}><div class="banner">{t("header.status")}<div class="underline" style="background-color:#0d6efd40;"></div></div></a>
		<a class="link" href={localizePath("/guide/3faq")}><div class="banner">{t("header.faq")}<div class="underline"></div></div></a>
		<button class="btn btn-primary" style="padding:0px; transform:translate(0, 1px);">
		<LanguageSelector showFlag={true} class="my-select-class" />
	</button>
		<a class="link" href={localizePath("/extras")}><div class="btn btn-danger" style="transform:translate(0, 1px); padding:9px;"><i class="fa-solid fa-box-open" style="margin-right:5px;"></i> {t("header.extras")}<span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger" style="font-size:10px;">
			{t("header.extrasNew")}
		  </span>
		</div></a>
		<button style={isGuide} class="btn3 btn btn-secondary">
			<a href={localizePath("/guide/")}>
				<i class="fa-solid fa-house"></i>
			</a>
		  </button>
		<a href={localizePath("/")}><button type="button" class="btn1 btn btn-success"><i class="fa-solid fa-download"></i></button></a>
		<button id="themeColor" type="button" class="btn1 btn btn-light"  onclick="darkToggle()" style="width:45px;"><i class="fa-solid fa-moon"></i></button>
	 </ul>
</r>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<script is:inline>

document.addEventListener('DOMContentLoaded', function () {
  
  // Check if the user has a preference stored
  const savedMode = localStorage.getItem('color-mode');

if (savedMode === 'dark') {
    enableDarkMode();
	themeColorButton.innerHTML = "<i class='bi bi-sun-fill'></i>";
	themeColorButton.style.filter = "invert(0)";
  } else {
    enableLightMode();
	themeColorButton.innerHTML = "<i class='fa-solid fa-moon'></i>";
	themeColorButton.style.filter = "invert(1)";
  }
});

function enableDarkMode() {
    document.documentElement.classList.add('dark');
    localStorage.setItem('color-mode', 'dark');
  }

  // Function to enable light mode
  function enableLightMode() {
    document.documentElement.classList.remove('dark');
    localStorage.setItem('color-mode', 'light');
  }

function darkToggle() {
	const themeColorButton = document.getElementById('themeColor');
    if (document.documentElement.classList.contains('dark')) {
      enableLightMode();
	  themeColorButton.innerHTML = "<i class='fa-solid fa-moon'></i>";
	  themeColorButton.style.filter = "invert(1)";
    } else {
      enableDarkMode();
	  themeColorButton.innerHTML = "<i class='bi bi-sun-fill'></i>";
	  themeColorButton.style.filter = "invert(0)";
    }
  }

</script>

<script is:inline>
var gradient = document.getElementById("grad");


function checkPageScroll() {
  var scrollPosition = window.scrollY || window.pageYOffset;

  if (scrollPosition > 0) {
    gradient.style.opacity = 1;
  } else {
	gradient.style.opacity = 0;
  }
}

window.addEventListener('scroll', checkPageScroll);

  </script>
  

<style>
	
	.demae{
		width:88%;
		height:50px;
		bottom:80px;
		font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 20px;
		text-align: center;
		line-height:50px;
		color: white;
		background-color: rgba(89, 86, 86, 0.175);
	border-radius: 8px;
		left:50%;
		transform: translate(-50%, 0);
		position: absolute;
		transition: 0.2s;
	}
	.demae:hover{
		background-color: rgba(196, 196, 196, 0.175);
		box-shadow: 0px 0px 58px rgba(255, 255, 255, 0.075);
		transition: 0.2s;
	}
	.my-select-class{
		top:0;
		left:0;
		width:45px;
		height:42px;
		font-size:30px;
		border:0px;
		background-color:#ffffff00;
		position:relative;
	}
	.badge{
		top:20px; left:230px; font-size:15px; font-family:systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:absolute;
	}
	#grad{
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,32,32,0.5) 100%);
	}

.link:hover .underline{
    height:15px;
    transition: 0.5s;
  }
  .underline{
    bottom:0;
    left:0;
    transform: translate(0, -18px);
    width:100%;
    height:0px;
    z-index: -1;
    transition: 0.5s;
    background-color: #00000020;
    position: relative;

  }

	.btn1{
		transform: translate(0, 10px);
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: relative;
	}

	.btn2{
		top:50%;
		left:258px;
		transform: translate(0, -50%);
		opacity:0;
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: absolute;
	}

	.btn3{
		transform: translate(0, 10px);
		font-size: 20px;
		margin:0px;
		margin-bottom:18px;
		position: relative;
	}

a:link{
	text-decoration: none;
	color: white;
}

a:visited{
	text-decoration: none;
	color: white;
}

.bannerholder{
    top:0;
    left:0;
	width:100%;
	height:128px;
	display:block;
	background-color: rgba(255, 255, 255, 0);
    z-index: 80;
    transition: 0.5s;
    position: sticky;
}

.logo{
	top:50%;
	left:50px;
	transform: translate(0,-50%);
	filter: invert(1);
	position: absolute;
}

.donate{
	top:50%;
	right:12%;
	transform: translate(0,-50%);
	filter: invert(1) opacity(0.7);
	position: absolute;
	transition: 0.2s;
}

.donate:hover{
	filter: invert(39%) sepia(54%) saturate(2336%) hue-rotate(332deg) brightness(82%) contrast(111%);
	transition: 0.2s;
}

ul{
	display: flex;
	gap:10px;
	width:auto;
	right:50px;
	top:60px;
	transform: translate(0, -50%);
	align-items:center;
	justify-content:center;
	font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgba(255, 255, 255, 0.53);
	position: absolute;
}

.banner{
	font-size:20px;
	margin-right:20px;
	mix-blend-mode: difference;
	color:black;
    position:relative;
    transition: 0.5s;
}

.banner:hover{
}

.strong{
	background: rgba(255, 0, 0, 0);
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 18px;
	border:2px solid rgb(62, 161, 85);
	transform: translate(-8px, -7px);
}

.strong:hover{
	background: rgb(62, 161, 85);
}

.bannername{
    text-align: center;
    font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    opacity: 0;
    transform: translate(0,-10);
    transition: 0.5s;
}

.banner:hover .bannername{
    opacity: 1;
    transform: translate(0,0px);
    transition: 0.5s;
}

img{
	border-radius: 0px;
}

.lang{
    top:50%;
	right:8%;
	transform: translate(0,-50%);
    background-image: url("../../Images/langswitcher.png");
    background-size: cover;
    background-color: rgba(203, 203, 203, 0.768);
    color:rgb(0, 0, 0);
    font-family:systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	filter: opacity(0.7);
    border: 0px;
    width:35px;
    height:35px;
	border-radius: 88px;
    z-index: 100000000;
    position: absolute;
	transition:0.2s;
}

.lang:hover{
	filter:opacity(1);
	transition: 0.2s;
}

.oschoose{
	width:100%;
	height:100%;
	background-color: rgba(29, 29, 29, 0.447);
	backdrop-filter: blur(8px);
	--webkit-backdrop-filter: blur(8px);
	z-index: 10000;
	position: fixed;
	top:0;
	left:0;
	display: none;
	animation: fade 0.2s linear;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}

@keyframes sus{
	0%{
		opacity:0;
		transform: translate(-50%, -45%);
	}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
.btns{
	display:flex;
	bottom:148px;
	left:50%;
	transform:translate(-50%,0);
	position: absolute;
}

.container{
	width:750px;
	height:450px;
	border:2px solid rgba(255, 255, 255, 0.423);
	background-color: rgb(35, 35, 35);
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	position: absolute;
	animation: sus 0.5s ease-in-out;
}

.osimg{
	width:150px;
	transform: translate(70px, 30px);
	opacity: 0.3;
	position: relative;
}

.close{
	width:30px;
	height:30px;
	filter: invert(1);
	top:40px;
	left: 0;
	padding:10px;
	border-radius: 8px;
	position: absolute;
	transition: 0.5s;
}

.close:hover{
	border:4px solid #0eecec;
	transform: translate(-4px, -4px);
}

.win:hover{
	background-color: rgb(118, 118, 204);
}

.mac:hover{
	background-color: rgb(181, 177, 185);
}
.paper{
	position: relative;
	top:-300px;
	right:-155px;
	filter: invert(1);
	padding: 5px;
	border-radius: 8px;
}
.docs{
	opacity: 0.5;
	transition: 0.2s;
}

.docs:hover{
	opacity: 1;
	transition: 0.2s;
}

.paper:hover{
	background-color: rgba(0, 0, 0, 0.575);
}

.paper:hover{
	background-color: rgba(0, 0, 0, 0.575);
}

.lin:hover{
	background-color: rgb(22, 22, 21);
}

@media (max-width:1400px){
		.btn2{
			opacity:1;
		}
	}

@media (max-width:1000px){
	.container{
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform: translate(0, 0);
		border: 0px;
		border-radius: 0px;
		animation: none;
		position: fixed;
	}

	.osimg{
		left:90%;
		transform: translate(-50%, 0);
		position: relative;
	}
}

@media (max-width:1000px){
	.bannerholder{
		opacity:0;
	}

	ul{
		display:none;
	}

	.lang{
		display: none;
	}

	span{
		display:none;
	}

	.btn1{
		display:none;
	}

	.donate{
		display: none;
	}
}


@media (min-width:2000px) {
		.bannerholder{
			width:2000px;
			left:50%;
			top:0px;
			transform: translate(-50%, 0);
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			position: fixed;
	}
</style>
