---
import i18next, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
---

<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
</head>

<body>
  <div class="build">
    <div class="build-holder">
      <h1 class="title">
        <Trans i18nKey="team.title">
          Meet our amazing <b class="color">team</b>
        </Trans>
      </h1>
      <h2 class="subtitle">
        <Trans i18nKey="team.subtitle">
          <b style="font-family:Rubik;">WiiLink</b> is powered by <b
            class="color">100%</b
          > volunteer work.<br />
          <b class="color"
            >Here's some of the incredible people who help <b
              style="font-family:Rubik;">WiiLink</b
            > come to life!</b
          >
        </Trans>
      </h2>
      <div id="members_mobile" class="members"></div>
      <div id="members" class="members"></div>
      <div
        style="top:18px; width:100%; border-radius:8px; overflow-x:hidden; overflow-y:visible; position:relative;">
        <div
          style="width:4000px; display:flex; flex-direction:row; flex-wrap:nowrap; position:relative;">
          <div id="members_small" class="members_small"></div>
          <div id="members_small2" class="members_small"></div>
        </div>
      </div>
    </div>
  </div>
</body>

<h1 id="fetcherTeam" style="display:none;">
  json{localizePath("/team.json")}
</h1>

<script is:inline>
  document.addEventListener("DOMContentLoaded", async function () {
    let fetcher = document.getElementById("fetcherTeam").innerHTML;
    fetch(fetcher)
      .then(response => response.json())
      .then(data => showService(data));

    function createMemberHTML(member) {
      return `
        <div class='member' style='background-color: var(--bg-color-secondary); box-shadow:0px 5px 20px ${member.color}20;'>
          <a href='${member.link}' style='text-decoration:none; color:#212529;'>
            <img  type="text/partytown" src='${member.pfp}' style='background-image:url(/img/header_bg.png); background-size:cover; border-radius:0px; object-fit:cover;' width='90px' height='100%'>
          </a>
            <div style='top:50%; left:20px; width:calc(100% - 130px); transform:translate(0, -50%); position:relative;'>
              <a href='${member.link}' style='text-decoration:none; color:#212529;'>
              <h2 style='top:10px; text-align:right; font-family:Gilroy; position:relative;'>${member.name} <img srcset='${member.flag}' style='top:-3px; object-fit:contain; position:relative;' width='30px' height=''></h2>
              <h3 style='top:0px; left:0; width:100%; text-align:right; font-size:25px; font-weight:200; position:relative;'>${member.title}</h3>
              </a>
            </div>
        </div>`;
    }

    function showService(data) {
      let team = document.getElementById("members");
      let teamSmall = document.getElementById("members_small");
      let teamSmall2 = document.getElementById("members_small2");
      let teamMobile = document.getElementById("members_mobile");
      let r = Math.floor(Math.random() * 15 + 10);

      for (let i = 0; i < data.members.member.length; i++) {
        let member = data.members.member[i];
        if (i < 10) {
          if (i == 4) {
            r = Math.floor(Math.random() * 15 + 10);
            member = data.members.member[r];
          }
          team.innerHTML += createMemberHTML(member);
        } else {
          let memberHTML = `
            <div class='membersmall' onmouseover='pauseanim();' onmouseout='playanim();' title='${member.name}\n${member.title}' style='transition: 0.3s; height:90px; width:90px; align-self:stretch; background-color: var(--bg-color-secondary); border-radius:8px; display:flex; overflow:hidden;'>
              <a href='${member.link}' style='text-decoration:none; color:#212529;'>
                <img type="text/partytown" src='${member.pfp}' style='background-image:url(/img/header_bg.png); background-size:cover; border-radius:4px; object-fit:cover;' width='90px' height='100%'>
              </a>
            </div>`;
          teamSmall.innerHTML += memberHTML;
          teamSmall2.innerHTML += memberHTML;
        }
      }

      for (let i = 0; i < 20; i++) {
        let member = data.members.member[i];
        let memberHTML = `
          <div class='membersmall' style='background-color:rgb(242,254,250); height:90px; width:90px; align-self:stretch; background-color: var(--bg-color-secondary); border-radius:16px; box-shadow:0px 5px 20px ${member.color}40; display:flex; overflow:hidden;'>
            <a href='${member.link}' style='text-decoration:none; color:#212529;'>
              <img type="text/partytown" src='${member.pfp}' style='border-radius:4px; object-fit:cover;' width='90px' height='100%'>
            </a>
          </div>`;
        teamMobile.innerHTML += memberHTML;
      }
    }
  });

  function pauseanim() {
    document.getElementById("members_small").style.animationPlayState =
      "paused";
    document.getElementById("members_small2").style.animationPlayState =
      "paused";
  }

  function playanim() {
    document.getElementById("members_small").style.animationPlayState =
      "running";
    document.getElementById("members_small2").style.animationPlayState =
      "running";
  }
</script>

<style is:global>
  .member {
    transition: 0.3s;
    height: auto;
    width: auto;
    align-self: stretch;
    border: 3px solid var(--bg-opaque-1);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
  }
  #members_small {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    animation: scroll 50s linear infinite reverse;
  }

  #members_small2 {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    animation: scroll 50s linear infinite reverse;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .membersmall {
    border: 3px solid var(--bg-opaque-1);
  }
  .member:nth-child(1) {
    grid-row: auto / span 2;
  }
  .member:nth-child(5) {
    grid-row: auto / span 2;
  }
  .member:hover,
  .membersmall:hover {
    transform: scale(1.02);
  }

  .member:active,
  .membersmall:active {
    transform: scale(1);
  }
</style>

<style>
  .build-holder {
    left: 50%;
    transform: translate(-50%, 20px);
    width: 95%;
    max-width: 1500px;
    padding-top: 30px;
    position: relative;
  }
  .members {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 15px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    border-radius: 8px;
    z-index: 10;
    scroll-snap-type: both mandatory;
  }
  #members_mobile {
    display: none;
  }
  a:hover {
    opacity: 0.5;
  }
  .members_small {
    margin-right:18px;
    display: flex;
    gap:18px;
    position: relative;
    border-radius: 8px;
    z-index: 10;
    scroll-snap-type: both mandatory;
    overflow-y: hidden !important;
  }

  .member {
    display: none;
  }

  .build {
    top: 130px;
    position: relative;
  }
  .subtitle {
    left: 50px;
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .color {
    background: url("/img/header_bg.png");
    background: AccentColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(150%);
  }
  .title {
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: Gilroy;
    position: relative;
  }

  @media only screen and (max-width: 1000px) {
    .members {
      top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 15px;
      left: 50%;
      transform: translate(-50%);
      position: relative;
      border-radius: 8px;
      z-index: 10;
      scroll-snap-type: both mandatory;
    }

    .members_small {
      display: none !important;
    }

    .title {
      font-size: 40px;
    }

    .subtitle {
      width: 90%;
    }

    .build {
      top: 250px;
    }

    #members {
      display: none;
    }
    #members_small {
      display: none;
    }
    #members_mobile {
      display: flex;
      mask-image: linear-gradient(to bottom, black, transparent);
    }
  }
</style>
