---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import HeadText from "../../../components/HeadText.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import Ad from "../../../components/Ad.astro";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from "astro-icon/components";

changeLanguage("de");

const posts = (await getCollection("guide")).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout
  title={t("guide.mainTitle")}
  description={t("guide.mainDesc")}
  image="/img/Guide_embed.webp"
/>
<Header isGuide="display:none;" />
  <div class="hold">
    <HeadText text={t("header.guide")} />
    <div class="welcome-msg">
      <h2 style="font-size:40px; font-family:Gilroy;">
        <Trans i18nKey="guide.title">
          Welcome to the <span
            class="badge bg-success"
            style="top:-5px; left:0px; font-size:20px; font-family:Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
          ></span><b style="font-family: Rubik;">WiiLink</b><span
            class="badge bg-success"
            style="bottom:8px; font-size:18px; font-family:inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position:relative;"
            >guide</span
          >
        </Trans>
      </h2>
      <h3 style="font-size: calc(1.3rem + .6vw);">
        <Trans i18nKey="guide.subtitle">
          Here you'll find <b class="color">important information</b> regarding the
          service, as well as helpful <b class="color">guides</b> and <b
            class="color">troubleshooters</b
          > to get you up and running in no time!
        </Trans>
      </h3>
    </div>

    <div class="postholder">
      {
        posts
          .filter(post =>
            [
              "Frequently asked questions",
              "Problem solving",
              "Installation guide"
            ].includes(post.data.title)
          )
          .sort((a, b) => {
            if (a.data.title === "Installation guide") return -1;
            if (b.data.title === "Installation guide") return 1;
            return 0;
          })
          .map(post => (
            <a
              href={localizePath(`/guide/${post.slug}/`)}
              class="posthold"
              style="cursor:pointer;">
              <div class="post">
                <span class="mobilehide">
                  <div style="top:20px; left:20px; padding:3px 8px; border-radius:8px; background-color: var(--bg-opaque-1); backdrop-filter: blur(8px); color: white !important; z-index: 1000000; position:absolute;">
                  <FormattedDate
                    pre="Last updated on: "
                    date={post.data.pubDate}
                  />
                  </div>
                </span>
                <img class="heroImage" src={post.data.heroImage} />
                <div class="innerData">
                  <div
                    class="title"
                    style="display:flex; flex-direction:row; align-items:center; gap:8px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                    <Icon name={post.data.icon} /> {post.data.title}
                  </div>
                  <div class="desc">{post.data.description}</div>
                </div>
              </div>
            </a>
          ))
      }
    </div>
    <hr
      class="mobilehide"
      style="left:50%; transform:translate(-50%, 0); max-width:1600px; margin-top:80px; margin-bottom:40px; border-top: 2px solid var(--bg-opaque-2); position:relative;"
    />
    <div class="postholdermini">
      {
        posts
          .filter(
            post =>
              ![
                "Installation guide",
                "Frequently asked questions",
                "Problem solving",
                "Dolphin Installation",
                "Wii U Installation",
                "Wii Installation"
              ].includes(post.data.title)
          )
          .map(post => (
            <a href={localizePath(`/guide/${post.slug}/`)} class="postmini">
              <Icon name={post.data.icon} />
              {post.data.title}
            </a>
          ))
      }
    </div>

    <Ad />

    <h3
      style="margin-top:100px; font-size: calc(1.3rem + .6vw); text-align:center; position:relative; width:100%;">
      <Trans i18nKey="guide.helpTitle">
        <b
          >Can't seem to get it <c class="color">working</c>? Be sure to <c
            class="color">get in touch</c
          >!</b
        >
      </Trans>
    </h3>
    <div class="btn-wrapper">
      <a href="mailto:support@wiilink.ca"
        ><div
          class="btn btn-success"
          style="color:white !important; padding:10px;">
          <i class="fa-solid fa-envelope" style="margin-right:5px;"></i>
          {t("guide.helpButton1")}
        </div></a
      >
      <a href="https://discord.gg/wiilink"
        ><div
          class="btn btn-primary"
          style="color:white !important; padding:10px;">
          <i class="fa-brands fa-discord" style="margin-right:5px;"></i>
          {t("guide.helpButton2")}
        </div></a
      >
    </div>
  </div>
<Footer />

<style>
  .hold {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1600px;
    position: relative;
  }

  .btn-wrapper {
    width: 320px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 10px;
    z-index: 1000;
    position: relative;
  }

  .welcome-msg {
    top: 15px;
    width: calc(100% - 20px);
    max-width: 1600px;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
  }

  .newstop {
    left: -30px;
    top: 70px;
    transform: translate(0, -50%);
    height: 200px;
    filter: opacity(0.1) invert(0);
    position: absolute;
  }

  .posthold {
    transform: translate(0, 0px);
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
  }

  .posthold:nth-child(1) {
    border-radius: 16px 8px 8px 16px;
    animation: fadeup 200ms 0.3s linear forwards;
  }
  .posthold:nth-child(2) {
    border-radius: 8px;
    animation: fadeup 200ms 0.35s linear forwards;
  }
  .posthold:nth-child(3) {
    border-radius: 8px 16px 16px 8px;
    animation: fadeup 200ms 0.4s linear forwards;
  }

  .postholder {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: absolute;
    gap: 16px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 10;
  }

  .postholdermini {
    width: 100%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border-radius: 16px;
    gap: 20px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    position: relative;
    z-index: 10;
  }

  .post {
    height: 200px;
    width: 100%;
    background-color: var(--bg-color-secondary);
    font-family: Gilroy;
    hyphens: auto;
    transition: 0.5s;
    position: relative;
    overflow: hidden !important;
  }

  .postmini {
    position: relative;
    height: 70px;
    width: 100%;
    padding: 18px;
    background-color: var(--bg-color-secondary);
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    text-decoration: none;
    hyphens: auto;
    transition: 0.2s;
  }

  .postmini::after {
    content: "\f061"; /* FontAwesome right arrow */
    font-family: "FontAwesome";
    font-weight: 900;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    right: 40px; /* Start from outside of the element */
    opacity: 0;
    transition: all 0.5s ease;
  }

  .postmini:hover::after {
    right: 20px; /* Move the arrow inside the element on hover */
    opacity: 1;
  }

  .postmini:hover {
    background-color: var(--bg-color-tertiary);
    transition: 0.2s;
  }

  .posthold:hover,
  .postmini:hover {
    transform: scale(1.02) !important;
    transition: 0.2s;
  }

  .posthold:active,
  .postmini:active {
    transform: scale(0.98) !important;
    transition: 0.2s;
  }

  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    transition: 0.3s;
  }

  .posthold:hover .heroImage {
    filter: blur(4px) brightness(0.7);
    scale: 105%;
    z-index: 10;
    transition: 0.3s;
  }

  .title {
    width: auto;
    z-index: 11;
    font-size: max(18px, 30px);
    right: 0px;
    text-align: left;
    color: white !important;
    margin-bottom: 15px;
    line-height: 30px;
    font-family: Gilroy;
    transition: 0.5s;
    position: relative;
  }

  .innerData {
    padding: 18px;
    bottom: 0;
    position: absolute;
  }

  .desc {
    position: relative;
    font-family: inter;
    width: 70%;
    color: white !important;
    font-size: 20px;
    right: 0;
    text-align: left;
    transition: 0.5s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  .rss {
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(98, 141, 98);
    border-radius: 8px;
    color: white;
    font-family: Gilroy;
    position: absolute;
    transition: 0.5s;
  }

  .rss:hover {
    transform: translate(-50%, -2px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.22);
    transition: 0.5s;
  }

  @media only screen and (max-width: 1000px) {
    .postholder {
      width: 95%;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      flex-direction: column;
      gap: 8px;
      top: 20px;
      position: relative;
      margin-bottom: 60px;
      z-index: 10;
    }

    .post {
      margin-bottom: 0;
      border-radius: 8px;
      height: 140px;
      overflow: hidden;
    }

    .posthold:nth-child(1)::before {
      border-radius: 16px 16px 8px 8px !important;
    }

    .posthold:nth-child(2)::before {
      border-radius: 8px !important;
    }

    .posthold:nth-child(3)::before {
      border-radius: 8px 8px 16px 16px !important;
    }

    .subtitle {
      width: 100%;
    }

    .posthold:nth-child(1) {
      border-radius: 16px 16px 8px 8px;
      animation: fadeup 200ms 0.3s linear forwards;
    }
    .posthold:nth-child(2) {
      border-radius: 8px;
      animation: fadeup 200ms 0.35s linear forwards;
    }
    .posthold:nth-child(3) {
      border-radius: 8px 8px 16px 16px;
      animation: fadeup 200ms 0.4s linear forwards;
    }

    .title {
      margin-bottom: 8px !important;
      font-size: 27px;
    }

    .mobilehide {
      display: none;
    }

    .postholdermini {
      padding: 0px;
      top: 0px;
      border-radius: 0px;
      width: calc(100% - 20px);
      gap: 8px;
      z-index: 10;
    }

    .dateRemove {
      display: none;
    }

    .newstop {
      display: none;
    }

    .posthold:hover {
      transform: translate(0, 0px) scale(102%);
      transition: 0.5s;
    }
  }

  @media only screen and (min-width: 2000px) {
    .hold {
      left: 50%;
      transform: translate(-50%, 150px);
      width: 2000px;
      margin-bottom: 80px;
      position: relative;
    }
    .newstop {
      left: 60px;
      top: 80px;
      transform: translate(0, -50%);
      height: 200px;
      filter: opacity(0.1) invert(0);
      position: absolute;
    }
  }
</style>
