---
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Loading from '../components/Loading.astro';
import News from '../components/News.astro';
import FormattedDate from '../components/FormattedDate.astro';
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author, authImage, authDesc, authTitle} = Astro.props;
---

<html lang="en">

<Layout title={`WiiLink - ${t("newsPost.name")} (${title})`} description={`${title} - ${description}`} image="/img/News_embed.png" />
<Loading msg={title} img={heroImage}/>

	<Header isGuide="display:none;"/>
<div class="article-holder">
	<div class="heroimg">
		{heroImage && <img style="scale:105%" width={720} height={360} src={heroImage} alt="" />}</div>
			<div class="tophold">
				<a href="../"><div class="exit"><img class="close" src="../../img/close.png"></div></a>
				<div style="top:70px; left:50%; width:100%; transform:translate(-50%, 0); display:flex; flex-wrap: wrap; gap:20px; justify-content: center; align-items: center; z-index:10; position:relative">
				<img class="mainimg" src={heroImage} width="200px">
				<FormattedDate color="top:-15px; right:48%; transform:translate(100%, 0); color:white; position:absolute;" date={pubDate} precise="right:calc(50% - 100px); transform:translate(50%, 0);"/>
				<h2 class="title">{title}</h2>
			</div>
			</div>
				<div class="postexpand">
					<slot />
				</div>
				<div class="auths">
					<img class="authimage" width={50} height={50} src={authImage} alt="" />
					<div class="titles">
						<div class="hold">
							<div class="authtitle">{author}</div>
							<div class="authtitle2">{authTitle}</div>
						</div>
						<div class="authdesc">{authDesc}</div>
					</div>
				</div>
		</div>
			<h2 class="other"><Trans i18nKey="news.otherPosts">Other <b class="color">posts</b></Trans></h2>
			<News />

			<Footer />

</html>

<style>

a:link{
    color:rgba(32,213,136,1);  
}

a:hover{
    color:rgb(22, 152, 96);
}

a:visited{
    color:rgb(32, 180, 213);
}

.auths{
	bottom:-20px;
	width: 100%;
	height:150px;
	position: relative;
	border-top: 2px solid #12121220;
	z-index: 10000;
}

.titles{
	left:150px;
	top:50%;
	width:60%;
	transform:translate(0, -50%);
	position:absolute;
}

time{
	color:white;
}

.other{
	left:10%; 
	width:50%;
	margin-top:50px; 
	font-family:Gilroy; 
	font-size:50px; 
	position:relative; 
}

.mainimg{
		-webkit-mask-image: url(/img/mask2.svg);
  mask-image: url(/img/mask2.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  mask-size: 100% 100%;
  mask-position: center;
		height:150px;
		width:auto;
		filter: blur(0px);
		transform: translate(0, 10px);
		z-index:10;
		position: relative;
	}

.color {
        background: url("/img/header_bg.png");
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   filter:brightness(150%);
    }

.authtitle{
	font-family: Gilroy;
	font-size: 30px;
	position: relative;
	float:left;
	color:rgb(0, 0, 0);
}

.hold{
	display:flex;
	gap:10px;
}

.authtitle2{
	position:relative;
padding:5px;
	border: 2px solid rgba(0, 0, 0, 0.496);
	border-radius:8px;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 36px;
	float:right;
	color:rgba(0, 0, 0, 0.496);
}
.authdesc{
	font-family: systemui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	bottom:0px;
	margin-top:5px;
	font-size: 20px;
	color:rgb(0, 0, 0);
	position:relative;
	top:0;
}

.authimage{
	width:80px;
	height:80px;
	border-radius:8px;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.154);
	top:50%;
	left:40px;
	transform: translate(0,-50%);
	position: absolute;
	filter:blur(0px);
}
	.title {
		font-size: 50px;
		width:100%;
		text-align:center;
		font-family: Gilroy;
		z-index: 100;
	}
	.last-updated-on {
		font-style: italic;
	}

	.postexpand{
		top:350px;
		width:95%;
		margin-bottom: 400px;
		position:relative;
		font-family: Cafe;
		color:white;
		left:50%;
		text-align: justify;
		transform: translate(-50%, 0);
	}

	.heroimg{
		height:100%;
		width:100%;
		transform: translateZ(-1px) scale(200%);
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 00%, transparent 60%);
		opacity: 0.5;
		position:absolute;
		top:0;
		left:0;
		overflow: hidden;
	}


	.faded{
		bottom: 0;
		left:0;
		width:100%;
		height:100%;
		z-index: 10;
		background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgba(244, 244, 244, 0) 100%);
		position: absolute;
	}

	img{
		width:100%;
		height:auto;
		top:0;
		height:auto;
		position: absolute;
		filter:blur(8px) brightness(0.5);


	}

	hr{
		width:0;
	}

	.article-holder{
		width:80%;
		height:85vh;
		left:50%;
		top:0px;
		perspective: 1px;
		border:2px solid #12121220;
		background-color: rgba(80, 80, 80, 0.125);
		transform: translate(-50%,0);
		border-radius:16px;
		overflow:scroll;
		padding-bottom:200px;
		opacity:0;
		position:relative;
		animation-name: fadeup;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
	}

	article{
		left:50%;
		border-radius:16px;
		background-color:rgba(244, 244, 244, 0.602);
		position: relative;
	}

	p{
		font-family: Gilroy;
		color:white;
	}
	h2{

	}
	h3{
		font-family: Gilroy;
	}
	h4{
		font-family: Gilroy;
	}
	.tophold{
		height:500px;
		width:100%;
		top:0;
		left:0;
		position: absolute;
		overflow:hidden;
		z-index:0;
	}

	.exit{
		top:50px;
		right:0;
		width:50px;
		height:50px;
		transform:translate(-50%, -50%);
		border: 0px solid red;
		border-radius:8px;
		position: absolute;
		z-index: 1000;
		transition: 0.2s;
	}

	.exit:hover{
		border:3px solid rgba(255, 0, 0, 0.651);
		transition: 0.2s;
	}
	.close{
		filter: blur(0px) invert(1);
		transform: scale(50%);
	}

	.exit:hover .close{
		filter: invert(16%) sepia(86%) saturate(7500%) hue-rotate(343deg) brightness(98%) contrast(108%);
		opacity:0.7;
	}

	@keyframes fadeup{
		0%{
			opacity:0;
			transform: translate(-50%, 38px);
		}
		100%{
			opacity:1;
			transform: translate(-50%, 0px);
		}
	}

	@media (max-width:1000px) {
		.postexpand{
			top:450px;
			width:100%;
			border:0px;
		}
		.title{
			top:100px;
			font-size: 40px;
			position:relative;
		}
		.auths{
			display:none;
		}
		.mainimg{
			top:100px;
			position:relative;
		}
		.exit{
			top:65px;
			left:55px;
			position:absolute;
		}
		.article-holder{
			top:0px;
			width: 100%;
		}
	}

	@media (min-width:2000px) {
		main{
			width:2000px;
			left:50%;
			top:10px;
			transform: translate(-50%, 0);
			border-radius: 8px;
			position: relative;
	}

		
	@media only screen and (min-width:2000px) {
		.article-holder{
			top:150px;
			left:50%;
			transform:translate(-50%, 0);
			width:2000px;
			margin-bottom:230px;
			position:relative;
		}
		.other{
			left:50%;
			transform:translate(-50%, 0);
			width:2000px;
			position:relative;
		}
	}
</style>