---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}



const { title, description, image} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="./img/favicon.png">
<meta name="title" content="WiiLink" />
<meta name="description" content={description}>
<meta content={description} property="og:description" />
<meta content={image} property="og:image" />
<meta name="keywords" content="food channel, riitag, riiTag, riiconnect, riiconnect24, rc24, wiiconnect, wiiconnect24, WC24, wii,wiilink24,riiconnect24,wii online,online,wii japan,japan,channel,japanese channel wii,wii japanese">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="12 days">
<meta name="author" content="The WiiLink Team">
	

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="img/favicon.png" />
		<script src="https://kit.fontawesome.com/e47ece3e74.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
		<script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

html.dark .offcanvas-body { background-color: #121212; transition:0.5s; }
html.dark h1 { color: white; transition:0.5s; }
html.dark h2 { color: white; transition:0.5s; }
html.dark h3 { color: white; transition:0.5s; }
html.dark h4 { color: white; transition:0.5s; }
html.dark .subtitle { color: white; transition:0.5s; }
html.dark .dropdownbtn { color: white; transition:0.5s; }
html.dark .link { color: white; transition:0.5s; }
html.dark .title { filter:brightness(200%); transition:0.5s; }
html.dark .stripe-logo { filter:invert(1); transition:0.5s; }
html.dark .logo { filter:invert(0); transition:0.5s; }
html.dark .newstop { filter:opacity(0.1) invert(1); transition:0.5s; }
html.dark .posthold { filter: drop-shadow(0px 0px 20px #d4d4d410); }
html.dark .postmini { color:white; background-color:rgb(38, 38, 38); }
html.dark .title-small { color:white; }
html.dark .fade-small { background: linear-gradient(0deg, rgba(103, 103, 103, 0.364) 0%, rgba(244, 244, 244, 0) 100%); }
html.dark .postmini:hover { box-shadow: 0px 0px 40px rgba(66, 66, 66, 0.356); }
html.dark .bottomleftcorner { animation: changecolordark 10s linear infinite; transition:0.5s; }
html.dark .form-check-label { color: rgb(255, 255, 255); transition:0.5s; }
html.dark .dots {  background-image:radial-gradient(#ffffff40 2px,transparent 2px); background-size: 15px 15px; transition:0.5s; }
html.dark .symbolholder { background-color: #000000; transition:0.5s; }
html.dark .member { background-color: #1b1b1b; transition:0.5s; }
html.dark .build-square { background: #242424; border:2px solid rgb(60, 60, 60); transition:0.5s; }
html.dark .github { color:white; background: #24242400; border:2px solid rgb(60, 60, 60); transition:0.5s; }
html.dark .service { background-color: #202020; box-shadow:0px 0px 20px #ffffff10; transition:0.5s; }
html.dark .slider::before { background: linear-gradient(to right,  #121212 0%,#12121200 100%); transition:0.5s; }
html.dark .slider::after { background: linear-gradient(to right,  #121212 0%,#12121200 100%); transition:0.5s; }
html.dark .fade-main {background: linear-gradient(0deg, #121212 0%, #f4f4f400 100%); }
html.dark .hide { color: rgba(255, 255, 255, 0.573); transition:0.5s; }
html.dark .donator-holder { color: white; transition:0.5s; }
html.dark .slidedown { color: white; transition:0.5s; }
html.dark .square { animation: changecolordark 10s linear infinite; transition:0.5s; }
html.dark #square2 { background-color: #121212; transition:0.5s; }


@font-face {
  font-family: Rubik;
  src: url(/fonts/Rubik.ttf);
}

@font-face {
  font-family: gilroy;
  src: url(/fonts/Gilroy.otf);
}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		--bg-color: #ffffff;


		font-family: system-ui, sans-serif;
		background-color: var(--bg-color);
		background-size: 224px;
	}

	h1 {
		--bg-text: #121212;
		color:var(--bg-text);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
