---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Sidebar from "../components/GuideSidebar.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

const posts = await getCollection("guide");
type Props = CollectionEntry<"guide">["data"];
const { title, description, icon, pubDate, updatedDate, heroImage } =
  Astro.props;
---

<html lang={i18next.language} ">
  <Layout
    title={`${title} - WiiLink`}
    description={`${title} - ${description}`}
    image="/img/default.png"
  />
  <Header isGuide="display:none;" />
  <body>
    <main>
      <img class="topImage" id="topImage" src={heroImage} />
      <div class="titlehold">
        <div class="title">
          <i class={icon} style="margin-right:18px;"></i>
          {title}
        </div>
        <div class="removeDate">
          <FormattedDate pre="Last updated on: " date={pubDate} />
        </div>
      </div>
      <div class="guideholder">
        <div class="guidecontent" id="container2">
          <slot /><div
            id="google_translate_element"
            style="transform:translate(0, 20px); z-index:100;">
          </div>
        </div>
      </div>
    </main>
    <Footer />
    <script is:inline>
      // On scroll down, hide the element with id "topImage"
      window.onscroll = function () {
        if (window.scrollY > 1) {
          document.getElementById("topImage").style.opacity = "0.2";
          document.getElementById("topImage").style.filter = "blur(16px)";
        } else {
          document.getElementById("topImage").style.opacity = "0.7";
          document.getElementById("topImage").style.filter = "blur(8px)";
        }
      };

      window.onload = function () {
        const movableDiv = document.querySelector(".toc-post");
        movableDiv.style.display = "none";
      };
    </script>

    <style>
      main {
        width: 100%;
        max-width: 100%;
        padding: 0;
      }

      .title {
        font-size: 45px;
        font-family: Gilroy;
        z-index: 100;
        position: relative;
      }

      .titlehold {
        left: 50%;
        width: 98%;
        height: 95%;
        max-width: 1400px;
        transform: translate(-50%, 0);
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      .topImage {
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        opacity: 0.7;
        filter: blur(16px);
        pointer-events: none;
        -webkit-mask-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 1) 0%,
          transparent 58%
        );
        position: fixed;
        transition: 0.2s;
      }

      .guidecontent {
        width: 95%;
        left: 50%;
        scroll-behavior: smooth;
        transform: translate(-50%, 0);
        position: relative;
        font-family: Cafe;
        margin-top: 30px;
        text-align: justify;
        animation-name: fadeup;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }

      .guideholder {
        width: 95%;
        max-width: 1300px;
        height: auto;
        left: 50%;
        transform: translate(-50%, 0);
        border: 2px solid var(--border-color);
        background-color: var(--bg-color-secondary);
        backdrop-filter: blur(16px);
        perspective: 1px;
        scroll-behavior: smooth;
        border-radius: 8px;
        z-index: 1;
        position: relative;
      }

      .guideholder::-webkit-scrollbar {
        display: none;
      }

      .holder::-webkit-scrollbar {
        display: none;
      }

      a {
        text-decoration: none;
      }

      .color {
        background: url("/img/header_bg.png");
        background: AccentColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: brightness(150%);
      }

      .hover {
        display: none;
      }

      @media (max-width: 1000px) {
        .title {
          width: 100%;
          text-align: center;
        }
        .removeDate {
          display: none;
        }
      }
    </style>
  </body>
</html>
