---
import { changeLanguage } from "i18next";
import Base from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import "../../../styles/global.css";
import Footer from "../../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../../components/FormattedDate.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("fr");

const posts = (await getCollection("blog")).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Base title="WiiLink - News" />

<body>
	<main>
		<Header />
		<img src="../Images/newstop.png" class="topimg">
		<section>
			{
				posts.map((post) => (
					<div class="mainpost">
						<a href={`/blog/${post.slug}/`}>
						<div class="fade"></div>
						<img style="filter:blur(8px) opacity(0.3);" src={post.data.heroImage} width="200px">
						<div class="maintitle">{post.data.title}</div>
						<div class="maindesc">{post.data.description}</div>
						</a>
					</div>
				))
			}

			<div class="postholder">
				{
					posts.map((post) => (
						<div class="post">
							<a href={`/blog/${post.slug}/`}>
							<div class="new">{t("blog.new")}</div>
							<div class="fade"></div>
							<img src={post.data.heroImage} width="200px">
							<FormattedDate date={post.data.pubDate} />
							<div class="title">{post.data.title}</div>
							<div class="desc">{post.data.description}</div>
							</a>
						</div>
					))
				}
			</div>

			<h2 style="margin-top:60px; left:10%; position:relative; width:50%;">{t("blog.other")}</h2>

			<div class="postholdermini">
				<div class="polka-dot"></div>
				{
					posts.map((post) => (
						<div class="postmini">
							<a href={`/blog/${post.slug}/`}>
							<div class="fade"></div>
							<FormattedDate date={post.data.pubDate} />
							<div class="title">{post.data.title}</div>
							</a>
						</div>
					))
				}
			</div>

			<h3 style="margin-top:100px; text-align:center; position:relative; width:100%;">{t("blog.rss")}</h3>
			<a href="https://www.wiilink24.com/rss.xml"><div class="rss">{t("blog.rssbtn")}</div></a>

		</section>
		<Footer />
	</main>

</body>


<style>

	.new{
		right:20px;
		top:20px;
		position: absolute;
		color:white;
		font-family: Gilroy;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px;
		background-color: red;
		border-radius:8px;
		z-index:1;
		display:none;
	}

	.mainpost{
		display: none;
		width:100%;
		height:60%;
		top:0;
		left:0;
		opacity: 0;
		animation-name: fadeup;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
		position: absolute;
		overflow:hidden;
	}

	.post:nth-child(1) .new{
		display: block;
	}

	.mainpost:nth-child(1){
		display: block;
	}

	.postholder{
		width:80%;
		display: grid;
		grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));
		position: absolute;
		gap: 20px;
		top:45%;
		left:50%;
		transform: translate(-50%,500px);
		position: relative;
		padding-bottom:500px;
		z-index: 10;
	}

	.postholdermini{
		width:80%;
		display: grid;
		grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
		position: absolute;
		gap: 20px;
		left:50%;
		transform: translate(-50%,0px);
		position: relative;
		z-index: 10;
	}

	.post{
		position: relative;
    	height:250px;
    	width:100%;
 		background-color:rgba(255, 255, 255, 0.041);
    	border-radius: 15px;
		font-family: Gilroy;
    	hyphens:auto;
    	overflow: hidden;
    	border: 3px solid rgba(255, 255, 255, 0.066);
		opacity:0;
    	transition: 0.5s;
		animation-name: fadeup;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
		animation-delay:0.22s;
	}

	.post:nth-child(n+7){
		display:none;
	}

	.postmini:nth-child(n+8){
		display:block;
	}

	.postmini{
		position: relative;
    	height:250px;
    	width:100%;
 		background-color:rgb(39, 39, 39);
    	border-radius: 15px;
		font-family: Gilroy;
    	hyphens:auto;
    	overflow: hidden;
    	border: 3px solid rgba(255, 255, 255, 0.066);
    	transition: 0.5s;
		display:none;
	}

	.post:hover{
    	background-color:rgba(206, 206, 206, 0.117);
    	transform: translate(0,-5px);
		border: 3px solid rgba(255, 255, 255, 0.208);
    	box-shadow: 0px 0px 70px rgb(43, 43, 43);
    	transition: 0.5s;
  	}


	.postmini:hover{
    	background-color:rgb(39, 39, 39);
    	transform: translate(0,-5px);
    	box-shadow: 0px 0px 70px rgb(43, 43, 43);
		border: 3px solid rgba(255, 255, 255, 0.252);
    	transition: 0.5s;
  	}

	.post:hover img{
		filter: blur(8px) brightness(0.7);
		z-index:0;
		transition: 0.5s;
  	}

	img{
		background-image: url(./Images/defaultbanner.png);
		background-size: cover;
		background-position: center;
		width: 100%;
		left:0;
		z-index: 0;
		transition: 0.5s;
	}

	.maintitle{
		position: absolute;
		z-index: 11;
		font-size: 60px;
		top:200px;
		text-align: center;
		left: 50%;
		transform: translate(-50%,0);
		font-family: Gilroy;
		transition: 0.5s;
	}

	.maindesc{
		position: absolute;
		z-index: 11;
		font-size: 30px;
		top:300px;
		text-align: center;
		left: 50%;
		transform: translate(-50%,0);
		font-family: Cafe;
		transition: 0.5s;
		display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.title{
		position: absolute;
		z-index: 11;
		font-size: 30px;
		bottom:20px;
		left:20px;
		font-family: Gilroy;
		transition: 0.5s;
	}

	.post:hover .title{
		transform: translate(0, -50px);
		transition: 0.5s;
	}

	.desc{
		position: absolute;
		font-family: Cafe;
		width:90%;
		font-size: 20px;
		left:20px;
		bottom:0;
		transform:translate(0,50px);
		transition: 0.5s;
    	display: -webkit-box;
    	-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.post:hover .desc{
		transform: translate(0, -40px);
		transition: 0.5s;
	}

	.fade{
		width:100%;
		height:60%;
		background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(0,212,255,0) 100%);
		position: absolute;
		z-index:2;
		bottom:0;
		left:0;
		transition: 0.5s;
	}

	.post:hover .fade{
		transform: translate(0, 50px);
		transition: 0.5s;
	}

	.polka-dot {
    	width: 240px;
    	height: 240px;
    	background-image: radial-gradient(#fff 10%, transparent 11%),
      	radial-gradient(#fff 10%, transparent 11%);
		background-size:30px 30px;
    	background-position: 0 0, 30px 30px;
    	opacity: 0.3;
    	rotate: 30deg;
    	left:-50px;
    	top:-80px;
    	background-repeat: repeat;
		animation: rotate 240s linear infinite;
    	position: absolute;
    	z-index: 0;
  	}

	.topimg{
		filter:invert(1); transform:translate(-100px,-100px); opacity:0.03; position:absolute; width:100%;
	}

	@keyframes rotate{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
  }

	a{
		bottom:50px;
		z-index:1;
		color:white;
	}

	@keyframes fadeup{
		0%{
			opacity:0;
			transform: translate(0, -20px);
		}
		100%{
			opacity:1;
			transform: translate(0, 0px);
		}
	}

	.rss{
		left:50%;
		transform: translate(-50%,0);
		padding:5px;
		padding-left:10px;
		padding-right:10px;
		background-color:rgb(98, 141, 98);
		border-radius:8px;
		color:white;
		font-family: Gilroy;
		position:absolute;
		transition: 0.5s;
	}

	.rss:hover{
		transform: translate(-50%, -2px);
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.22);
		transition: 0.5s;
	}

	@media (max-width:1000px) {
		.postholder{
			width:100%;
			left:0;
			transform: translate(0, 500px);
		}
		.postholder{
			width:100%;
			display: block;
			left:0;
			transform: translate(0, 300px);
			overflow: hidden;
		}
		.post{
			margin-bottom:20px;
			height:180px;
		}
		.postholdermini{
			width:100%;
			left:0;
			transform: translate(0, 0);
		}
		.postmini{
			height:120px;
		}
		.title{
		display: -webkit-box;
    	-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
    	text-overflow: ellipsis;
		}
		.maindesc{
			width:100%;
			font-size:25px;
			transform: translate(-50%, -40px);
		}
		.maintitle{
			width:100%;
			font-size: 40px;
		}
		.mainpost{
			top:-50px;
			position: absolute;
			height: 500px;
		}
	}

	@media (min-width:2000px) {
		section{
			width:2000px;
			left:50%;
			transform: translate(-50%, 0);
			position: relative;
		}
		.status{
			width:2000px;
			left:50%;
			transform: translate(-50%, 0);
		}
		.topimg{
			width:2000px;
			left:50%;
			transform: translate(-50%, -158px);
		}
	}
</style>

